/*程序自动生成，直接修改无效*/
.giftbig { width: 69px; height: 69px; background-image: url(/images/giftbig.png?1460358419); text-align:center; }
img.gift_4 { background-position: -0px -0px; }
img.gift_9051 { background-position: -0px -69px; }
img.gift_9052 { background-position: -0px -138px; }
img.gift_9053 { background-position: -0px -207px; }
img.gift_9054 { background-position: -0px -276px; }
img.gift_9055 { background-position: -0px -345px; }
img.gift_9056 { background-position: -0px -414px; }
img.gift_9057 { background-position: -0px -483px; }
img.gift_9058 { background-position: -0px -552px; }
img.gift_9059 { background-position: -0px -621px; }
img.gift_9060 { background-position: -0px -690px; }
img.gift_9061 { background-position: -0px -759px; }
img.gift_9062 { background-position: -0px -828px; }
img.gift_9063 { background-position: -0px -897px; }
img.gift_9064 { background-position: -0px -966px; }
img.gift_9065 { background-position: -0px -1035px; }
img.gift_9066 { background-position: -0px -1104px; }
img.gift_9067 { background-position: -0px -1173px; }
img.gift_9068 { background-position: -0px -1242px; }
img.gift_9069 { background-position: -0px -1311px; }
img.gift_9070 { background-position: -0px -1380px; }
img.gift_9071 { background-position: -0px -1449px; }
img.gift_9192 { background-position: -0px -1518px; }
img.gift_9193 { background-position: -0px -1587px; }
img.gift_9211 { background-position: -0px -1656px; }
img.gift_9136 { background-position: -0px -1725px; }
img.gift_9189 { background-position: -0px -1794px; }
img.gift_9199 { background-position: -0px -1863px; }
img.gift_9198 { background-position: -0px -1932px; }
img.gift_9200 { background-position: -0px -2001px; }
img.gift_9204 { background-position: -0px -2070px; }
img.gift_9205 { background-position: -0px -2139px; }
img.gift_9206 { background-position: -0px -2208px; }
img.gift_9207 { background-position: -0px -2277px; }
img.gift_9208 { background-position: -0px -2346px; }
img.gift_9209 { background-position: -0px -2415px; }
img.gift_9210 { background-position: -0px -2484px; }
img.gift_9212 { background-position: -0px -2553px; }
img.gift_9223 { background-position: -0px -2622px; }
.giftsmall { width: 22px; height: 22px; background-image: url(/images/giftsmall.png?1460358419); text-align:center; }
img.gift_4_x { background-position: -0px -0px; }
img.gift_9051_x { background-position: -0px -22px; }
img.gift_9052_x { background-position: -0px -44px; }
img.gift_9053_x { background-position: -0px -66px; }
img.gift_9054_x { background-position: -0px -88px; }
img.gift_9055_x { background-position: -0px -110px; }
img.gift_9056_x { background-position: -0px -132px; }
img.gift_9057_x { background-position: -0px -154px; }
img.gift_9058_x { background-position: -0px -176px; }
img.gift_9059_x { background-position: -0px -198px; }
img.gift_9060_x { background-position: -0px -220px; }
img.gift_9061_x { background-position: -0px -242px; }
img.gift_9062_x { background-position: -0px -264px; }
img.gift_9063_x { background-position: -0px -286px; }
img.gift_9064_x { background-position: -0px -308px; }
img.gift_9065_x { background-position: -0px -330px; }
img.gift_9066_x { background-position: -0px -352px; }
img.gift_9067_x { background-position: -0px -374px; }
img.gift_9068_x { background-position: -0px -396px; }
img.gift_9069_x { background-position: -0px -418px; }
img.gift_9070_x { background-position: -0px -440px; }
img.gift_9071_x { background-position: -0px -462px; }
img.gift_9192_x { background-position: -0px -484px; }
img.gift_9193_x { background-position: -0px -506px; }
img.gift_9211_x { background-position: -0px -528px; }
img.gift_9136_x { background-position: -0px -550px; }
img.gift_9189_x { background-position: -0px -572px; }
img.gift_9199_x { background-position: -0px -594px; }
img.gift_9198_x { background-position: -0px -616px; }
img.gift_9200_x { background-position: -0px -638px; }
img.gift_9204_x { background-position: -0px -660px; }
img.gift_9205_x { background-position: -0px -682px; }
img.gift_9206_x { background-position: -0px -704px; }
img.gift_9207_x { background-position: -0px -726px; }
img.gift_9208_x { background-position: -0px -748px; }
img.gift_9209_x { background-position: -0px -770px; }
img.gift_9210_x { background-position: -0px -792px; }
img.gift_9212_x { background-position: -0px -814px; }
img.gift_9223_x { background-position: -0px -836px; }
.giftbig_wap { width: 80px; height: 80px; background-image: url(/images/giftbig_wap.png?1460358419); text-align:center; }
img.gift_4_wap { background-position: -0px -0px; }
img.gift_9051_wap { background-position: -0px -80px; }
img.gift_9052_wap { background-position: -0px -160px; }
img.gift_9053_wap { background-position: -0px -240px; }
img.gift_9054_wap { background-position: -0px -320px; }
img.gift_9055_wap { background-position: -0px -400px; }
img.gift_9056_wap { background-position: -0px -480px; }
img.gift_9057_wap { background-position: -0px -560px; }
img.gift_9058_wap { background-position: -0px -640px; }
img.gift_9059_wap { background-position: -0px -720px; }
img.gift_9060_wap { background-position: -0px -800px; }
img.gift_9061_wap { background-position: -0px -880px; }
img.gift_9062_wap { background-position: -0px -960px; }
img.gift_9063_wap { background-position: -0px -1040px; }
img.gift_9064_wap { background-position: -0px -1120px; }
img.gift_9065_wap { background-position: -0px -1200px; }
img.gift_9066_wap { background-position: -0px -1280px; }
img.gift_9067_wap { background-position: -0px -1360px; }
img.gift_9068_wap { background-position: -0px -1440px; }
img.gift_9069_wap { background-position: -0px -1520px; }
img.gift_9070_wap { background-position: -0px -1600px; }
img.gift_9071_wap { background-position: -0px -1680px; }
img.gift_9192_wap { background-position: -0px -1760px; }
img.gift_9193_wap { background-position: -0px -1840px; }
img.gift_9211_wap { background-position: -0px -1920px; }
img.gift_9136_wap { background-position: -0px -2000px; }
img.gift_9189_wap { background-position: -0px -2080px; }
img.gift_9199_wap { background-position: -0px -2160px; }
img.gift_9198_wap { background-position: -0px -2240px; }
img.gift_9200_wap { background-position: -0px -2320px; }
img.gift_9204_wap { background-position: -0px -2400px; }
img.gift_9205_wap { background-position: -0px -2480px; }
img.gift_9206_wap { background-position: -0px -2560px; }
img.gift_9207_wap { background-position: -0px -2640px; }
img.gift_9208_wap { background-position: -0px -2720px; }
img.gift_9209_wap { background-position: -0px -2800px; }
img.gift_9210_wap { background-position: -0px -2880px; }
img.gift_9212_wap { background-position: -0px -2960px; }
img.gift_9223_wap { background-position: -0px -3040px; }
