<!DOCTYPE html>
<html ng-app="personalCenter">
<head lang="en">
<meta charset="UTF-8">
<title>个人中心－蝌蚪TV</title>
<link data-fixed="true" href="/public/centeros/css/centeros.css" rel="stylesheet">
<link href="/public/centeros/css/icons.css" rel="stylesheet">

<script src="/public/centeros/js/jquery.min.js"></script>
<script type="text/javascript" src="<{$cdn_domain}>/public/centeros/js/login.js?20150908"></script>
<!-- <script type="text/javascript" src="<{$cdn_domain}>/public/centeros/js/skin/ym/js/centeros.js?20150908"></script> -->
<script type="text/javascript" src="<{$cdn_domain}>/public/centeros/skin/ym/js/centeros.js?20150908"></script>
<script type="text/javascript" src="<{$cdn_domain}>/public/centeros/js/angular/angular.min.js"></script>
<script type="text/javascript" src="<{$cdn_domain}>/public/centeros/js/angular/center.js"></script>

</head>
<body>