<!--main-->
<div class="inmiddle">
<{include file="center-info.html"}>
<{include file="menu_left.html"}>

    <div class="center-right">

    <div class="cr-care" >
        <div class="cr-title">我的关注</div>
        <div class="cr-care-main">
            <{if $arrs}>
				<{foreach $arrs as $key=>$arr}>
                <div class="care-li">
                    <div class="care-img"><a href="/<{$arr['roomNumber']}>.html"><img src="<{$smarty.const._IMAGES_DOMAIN_}>/<{$arr['avatar']}>" alt="name"></a></div>
                    <div class="care-info">
                        <div class="care-title">
                            <input type="hidden" value="<{$arr['roomNumber']}>" id="usernumber"/>
                            <span class="care-an-level sprite liverlevel-pic_liverlevel_<{$arr['starlevel']}>"></span><span class="care-an-name"><a href="/<{$arr['roomNumber']}>.html"><{$arr['nickname']}></a></span>
                        </div>
                        <div class="care-fans-num"><{$arr['followeds']}>粉丝</div><div class="canel-care"><a href='javascript:void(0)' onclick="seajs.use('ajax/cancelCare', function(test){ test.showBox();});">取消关注</a></div>
                        
						  <{if $arr['online']}>
                                <div class="care-current-title">直播中</div>
                        
						 <{else}>
                             <div class="care-next-title">下次开播时间</div>
							 <{/if}>
                         
                        <div class="care-next-time">12月10日  13:00</div>
                    </div>
                </div>
            
			<{/foreach}>
            <{else}> <div style="margin:0 auto; text-align:center; "><span >没有关注的主播哟！</span></div>
            <{/if}>
<!--            <div class="care-li">
                    <div class="care-img"><img src="http://r4.ykimg.com/05100000566A96CF67BC3D026E00F9D9"></div>
                    <div class="care-info">
                        <div class="care-title">
                            <span care="care-an-level">lv12</span><span calss="care-an-name">愤怒的龙木耳</span>
                        </div>
                        <div class="care-fans-num">222粉丝</div>
                        <div class="care-next-title">下次开播时间</div>
                        <div class="care-next-time">12月10日  13:00</div>
                    </div>

            </div>-->

        </div>
    </div>
</div>
    <div class="win-phone iscc" style="display: none;" >
        <div class="find-bump-title">温馨提示 <div class="find-bump-oxx"></div></div>
        <div class="issc-tips"> 取消了<span><{$nickname}></span>的关注后,您在本播间的贡献值讲清零,请问您还要取消吗?</div>
        <div class="issc-button"><button class="small-button" id="sure-cc">确定</button><button  id="no-cc" class="small-button">取消</button></div>
    </div>

</div>
</div>


<!--main-->

<{include file=$footer}>

</body>
</html>