<style type="text/css">
    /*底部*/
    .bs-docs-footer {
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 4%;
        color: #9b9c9e;
        text-align: center;
        border-top: 1px solid #e5e5e5;
    }

    .bs-docs-footer .firBL{
        color: #999;
    }

    .bs-docs-footer .firBL:hover{
        color: #337ab7;
    }
    .bs-docs-footer img{
        float: none; 
    }
	.officialMailbox{
		color:#337ab7; 
	}
</style>

<script src="<{$cdn}>/public/login/js/login.js" type="text/javascript" ></script>
<script src="<{$cdn}>/public/ipview/js/ipview.js"></script>

<div  class="bs-docs-footer navbar-inverse" role="contentinfo">
    <div class="container">
        <p>
            <a href="javascript:;" class="firBL">关于蝌蚪 </a>|
            <a href="/assist/serviceArgument" class="firBL" target="_blank">服务协议 </a>|
            <a href="/assist/help" class="firBL"  target="_blank">客服帮助 </a>|
            <a href="javascript:;" class="firBL">关于我们 </a>|
            <a href="javascript:;" class="firBL">版权声明</a>
        </p>
        <p>
            <img class="lazy" src="<{$cdn}>/public/orders/images/logo_foot.png"/>
            <span> -Copyright©2016 沪ICP备14054721号</span>
        </p>
        <p>蝌蚪客服电话：021-63156393 | 商务合作邮箱：
            <a  class="officialMailbox" style="color:#337ab7" href="mailto:mt@mutiantech.com">kd@kedo.tv</a>
        </p>
    </div>
</div>
