<script src="<{$cdn}>/public/min/jquery.min.js"></script>
<link data-fixed="true" href="/public/min/bootstrap.min.css" rel="stylesheet">
<link data-fixed="true" href="/public/min/common.css" rel="stylesheet">

<script type="text/javascript" src="<{$cdn}>/public/centeros/js/notice.js"></script>
<script>
    var cdn_domain="<{$cdn_domain}>";
    var img_domain="<{$images_domain}>";
    var inf_domain="<{$inf_domain}>";
    var site_skin="<{$site_skin}>";
    var currentUserId="<{$user.userId}>";
    var userId = "<{$user['userId']}>";
    var flag = 0;
    var shine;
    function clearB(){
        shine = clearInterval(shine);
    }
</script>

<!--导航-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo_head" href="/<{$index_page}>"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav hdNavL">
                <li class="<{if $current_page=='index'}>active<{/if}>"><a href="/<{$index_page}>">首页</a></li>
 				<li class="<{if $current_page=='square'}>active<{/if}>"><a href="/square">广场</a> </li>
                <li class="<{if $current_page=='mall'}>active<{/if}>"><a href="/mall">商城</a> </li>
                <li class="<{if $current_page=='order'}>active<{/if}>"><a href="/orders">排行榜</a> </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <!--<div class="form-group">
                   <input type="text" class="form-control" placeholder="搜索">
                   <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
                </div>-->
                <div class="input-group search">
                    <input type="text" class="form-control searchN" placeholder="输入房间号/频道号/ID">
                  <span class="input-group-btn">
                    <button class="btn btn-default searchBtn" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </div>

            </form>
            <{if !$user}>
            <ul class="nav navbar-nav navbar-right  hidden-sm hdNavR reg_log">
                <{if $index_page ==""}>
                    <li><a href="javascript:;" class="log">登录</a></li>
                    <li class="hidden-xs"><a href="javascript:;">|</a></li>
                    <li class="hidden-lg hidden-md hidden-sm show-xs line"><a href=""></a></li>
                    <li class=""><a href="javascript:;" class="reg">注册<span class="sr-only">(current)</span></a></li>
                <{/if}>
            </ul>
            <{else}>
            <ul class="nav navbar-nav navbar-right hidden-sm hdNavR">

                <li><a href="/centeros"><{$user.nickname}></a></li>
                <li><a class= "header-notice" style=" "></a></li>
                <li class="hidden-xs"><a href="">|</a></li>
                <li class="hidden-lg hidden-md hidden-sm show-xs line"><a href="javascript:;"></a></li>
                <{if $index_page ==""}>
                <li class=""><a href="/app/view/login/kedo/login.php?action=logout&amp;type=html">退出</a></li>
                <{/if}>
                <{literal}>
                    <style>
                        .header-notice{margin-top: 20px;}
                        .header-notice,.img-notice{display:inline-block;width:24px;height: 18px;  background: url("/images/kedo/header_notice.png") no-repeat;cursor: pointer}
                        .header-notice:hover{background: url("public/orders/images/header_notice_hover.png") no-repeat;}
                        .notice-list{display:none;position: absolute;overflow: hidden;
                            font-size: 12px;
                            background-color: #fff;
                            padding: 10px;
                            border-left: 2px solid #E74161;
                            margin-top: 56px;
                            right: 265px;
                            border-right: 2px solid #E74161;
                            border-bottom: 2px solid #E74161;
                            width: 280px;
                            border-bottom-left-radius: 8px;
                            border-bottom-right-radius: 8px;
                        }
                        .img-notice{height: 14px;}
                        .notice-list ul li{height:36px;line-height: 36px; }
                        .notice-list ul li a{color: #666}
                        .notice-list ul li span{display: inline-block}

                    </style>
                <{/literal}>
            </ul>
               <!--  <div class="notice-list">
                    <ul>
                        <li><span class="img-notice"></span><a href="/centeros.php?ptype=notice">用户开播通知</a> <span>10-21 19:36 </span></li>
                        <li><span class="img-notice"></span><a href="/centeros.php?ptype=notice">用户开播通知</a>  <span>10-21 19:36 </span></li>
                        <li><span class="img-notice"></span><a href="/centeros.php?ptype=notice">用户开播通知</a> <span>10-21 19:36 </span></li>
                        <li><span class="img-notice"></span><a href="/centeros.php?ptype=notice">用户开播通知</a>  <span>10-21 19:36 </span></li>
                    </ul>
                </div> -->
            <{/if}>
        </div><!--/.nav-collapse -->
    </div>
</div>


