<style>
    {literal}
    /*header*/
    .header{background:#fefefe; border-bottom:1px solid #dfa803; padding-bottom:8px; }
    .header .hd_bg{background:url(../img/spirate.png) no-repeat -386px -116px; width:164px; height:26px; margin-left:12px; margin-top:20px; }
    .header .text{margin-top:32px; color:#5c5c5c; margin-left:5px; }
    .header .nav{margin-left:74px; margin-top:22px; }
    .header .nav li{margin-right:70px; font-size:18px;  cursor:pointer; }
    .header .nav li a{color:#ffb671;}

    .header .input{ margin-top:20px; height:26px; width:210px; border:1px solid #e3983b; border-radius:20px; text-indent:1em;  position:relative; }
    .header .input input{border:0px; line-height:24px; }
    .header .input .search{background:url(../img/spirate.png) -127px -86px no-repeat; width:14px; height:16px; position:absolute; right:8px; top:6px; cursor:pointer; }

    {/literal}
</style>
<div class="header">
    <div class="wrapper clearFix">
        <span class="hd_bg fl"></span>
        <p class="text fl">一群制造欢乐的豆豆</p>
        <ul class="nav fl">
            <li class="fl"><a href="javascript:;">首页</a></li>
            <li class="fl"><a href="javascript:;">广场</a></li>
            <li class="fl"><a href="javascript:;">活动</a></li>
            <li class="fl"><a href="javascript:;">商城</a></li>
            <li class="fl"><a href="javascript:;">排行榜</a></li>
        </ul>
        <div class="input fl">
            <input type="text" placeholder="输入房间号/频道号/ID">
            <span class="search"></span>
        </div>
        <div class="user fr">
            <div class="fl">
                <a class="username fl" href="javascript:;">小蜜桃Sasa</a>
                <a class="user_msg fl" href="javascript:;"></a>
            </div>
            <a class="email fl" href="javascript:;"></a>
        </div>
    </div>
</div>