/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:d64f425cb0e5902c836093fade58e5e4:3cecc64c365ef530e7c16b2772f2e1d2:f1ca9f615efd41ee6d583ace452461d3$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/icons.png);}

.activelevel-pic_activelevel_1 {width:24px; height:18px; background-position: -678px -108px}
.activelevel-pic_activelevel_10 {width:24px; height:18px; background-position: -652px -108px}
.activelevel-pic_activelevel_11 {width:24px; height:18px; background-position: -626px -108px}
.activelevel-pic_activelevel_12 {width:24px; height:18px; background-position: -600px -108px}
.activelevel-pic_activelevel_13 {width:24px; height:18px; background-position: -574px -108px}
.activelevel-pic_activelevel_14 {width:24px; height:18px; background-position: -548px -108px}
.activelevel-pic_activelevel_15 {width:24px; height:18px; background-position: -522px -108px}
.activelevel-pic_activelevel_16 {width:24px; height:18px; background-position: -496px -108px}
.activelevel-pic_activelevel_17 {width:24px; height:18px; background-position: -470px -108px}
.activelevel-pic_activelevel_18 {width:24px; height:18px; background-position: -444px -108px}
.activelevel-pic_activelevel_19 {width:24px; height:18px; background-position: -418px -108px}
.activelevel-pic_activelevel_2 {width:24px; height:18px; background-position: -392px -108px}
.activelevel-pic_activelevel_20 {width:24px; height:18px; background-position: -366px -108px}
.activelevel-pic_activelevel_21 {width:24px; height:18px; background-position: -340px -108px}
.activelevel-pic_activelevel_22 {width:24px; height:18px; background-position: -314px -108px}
.activelevel-pic_activelevel_23 {width:24px; height:18px; background-position: -288px -108px}
.activelevel-pic_activelevel_24 {width:24px; height:18px; background-position: -262px -108px}
.activelevel-pic_activelevel_25 {width:24px; height:18px; background-position: -236px -108px}
.activelevel-pic_activelevel_26 {width:24px; height:18px; background-position: -210px -108px}
.activelevel-pic_activelevel_27 {width:24px; height:18px; background-position: -184px -108px}
.activelevel-pic_activelevel_28 {width:24px; height:18px; background-position: -158px -108px}
.activelevel-pic_activelevel_29 {width:24px; height:18px; background-position: -132px -108px}
.activelevel-pic_activelevel_3 {width:24px; height:18px; background-position: -106px -108px}
.activelevel-pic_activelevel_30 {width:24px; height:18px; background-position: -80px -108px}
.activelevel-pic_activelevel_4 {width:24px; height:18px; background-position: -54px -108px}
.activelevel-pic_activelevel_5 {width:24px; height:18px; background-position: -28px -108px}
.activelevel-pic_activelevel_6 {width:24px; height:18px; background-position: -2px -108px}
.activelevel-pic_activelevel_7 {width:24px; height:18px; background-position: -1536px -102px}
.activelevel-pic_activelevel_8 {width:24px; height:18px; background-position: -1510px -102px}
.activelevel-pic_activelevel_9 {width:24px; height:18px; background-position: -1484px -102px}
.consumelevel-pic_consumelevel_1 {width:60px; height:18px; background-position: -1392px -62px}
.consumelevel-pic_consumelevel_10 {width:60px; height:18px; background-position: -1330px -62px}
.consumelevel-pic_consumelevel_11 {width:60px; height:18px; background-position: -1268px -62px}
.consumelevel-pic_consumelevel_12 {width:60px; height:18px; background-position: -1206px -62px}
.consumelevel-pic_consumelevel_13 {width:60px; height:18px; background-position: -1144px -62px}
.consumelevel-pic_consumelevel_14 {width:60px; height:18px; background-position: -1082px -62px}
.consumelevel-pic_consumelevel_15 {width:60px; height:18px; background-position: -1516px -42px}
.consumelevel-pic_consumelevel_16 {width:60px; height:18px; background-position: -1454px -42px}
.consumelevel-pic_consumelevel_17 {width:60px; height:18px; background-position: -1392px -42px}
.consumelevel-pic_consumelevel_18 {width:60px; height:18px; background-position: -1330px -42px}
.consumelevel-pic_consumelevel_19 {width:60px; height:18px; background-position: -1268px -42px}
.consumelevel-pic_consumelevel_2 {width:60px; height:18px; background-position: -1206px -42px}
.consumelevel-pic_consumelevel_20 {width:60px; height:18px; background-position: -1144px -42px}
.consumelevel-pic_consumelevel_21 {width:60px; height:18px; background-position: -1082px -42px}
.consumelevel-pic_consumelevel_22 {width:60px; height:18px; background-position: -1516px -22px}
.consumelevel-pic_consumelevel_23 {width:60px; height:18px; background-position: -1454px -22px}
.consumelevel-pic_consumelevel_24 {width:60px; height:18px; background-position: -1392px -22px}
.consumelevel-pic_consumelevel_25 {width:60px; height:18px; background-position: -1330px -22px}
.consumelevel-pic_consumelevel_26 {width:60px; height:18px; background-position: -1268px -22px}
.consumelevel-pic_consumelevel_27 {width:60px; height:18px; background-position: -1206px -22px}
.consumelevel-pic_consumelevel_28 {width:60px; height:18px; background-position: -1144px -22px}
.consumelevel-pic_consumelevel_29 {width:60px; height:18px; background-position: -1082px -22px}
.consumelevel-pic_consumelevel_3 {width:60px; height:18px; background-position: -1516px -2px}
.consumelevel-pic_consumelevel_30 {width:60px; height:18px; background-position: -1454px -2px}
.consumelevel-pic_consumelevel_4 {width:60px; height:18px; background-position: -1392px -2px}
.consumelevel-pic_consumelevel_5 {width:60px; height:18px; background-position: -1330px -2px}
.consumelevel-pic_consumelevel_6 {width:60px; height:18px; background-position: -1268px -2px}
.consumelevel-pic_consumelevel_7 {width:60px; height:18px; background-position: -1206px -2px}
.consumelevel-pic_consumelevel_8 {width:60px; height:18px; background-position: -1144px -2px}
.consumelevel-pic_consumelevel_9 {width:60px; height:18px; background-position: -1082px -2px}
.guanli-pic_guanli_1 {width:22px; height:18px; background-position: -752px -108px}
.guanli-pic_guanli_2 {width:22px; height:18px; background-position: -728px -108px}
.guanli-pic_guanli_3 {width:22px; height:18px; background-position: -704px -108px}
.guardlevel-pic_guardlevel_s_1 {width:18px; height:18px; background-position: -1036px -108px}
.guardlevel-pic_guardlevel_s_10 {width:18px; height:18px; background-position: -1016px -108px}
.guardlevel-pic_guardlevel_s_11 {width:18px; height:18px; background-position: -996px -108px}
.guardlevel-pic_guardlevel_s_12 {width:18px; height:18px; background-position: -976px -108px}
.guardlevel-pic_guardlevel_s_13 {width:18px; height:18px; background-position: -956px -108px}
.guardlevel-pic_guardlevel_s_14 {width:18px; height:18px; background-position: -936px -108px}
.guardlevel-pic_guardlevel_s_15 {width:18px; height:18px; background-position: -916px -108px}
.guardlevel-pic_guardlevel_s_2 {width:18px; height:18px; background-position: -896px -108px}
.guardlevel-pic_guardlevel_s_3 {width:18px; height:18px; background-position: -876px -108px}
.guardlevel-pic_guardlevel_s_4 {width:18px; height:18px; background-position: -856px -108px}
.guardlevel-pic_guardlevel_s_5 {width:18px; height:18px; background-position: -836px -108px}
.guardlevel-pic_guardlevel_s_6 {width:18px; height:18px; background-position: -816px -108px}
.guardlevel-pic_guardlevel_s_7 {width:18px; height:18px; background-position: -796px -108px}
.guardlevel-pic_guardlevel_s_8 {width:18px; height:18px; background-position: -776px -108px}
.guardlevel-pic_guardlevel_s_9 {width:18px; height:18px; background-position: -1558px -62px}
.liverlevel-pic_liverlevel_1 {width:24px; height:18px; background-position: -1458px -102px}
.liverlevel-pic_liverlevel_10 {width:24px; height:18px; background-position: -1432px -102px}
.liverlevel-pic_liverlevel_11 {width:24px; height:18px; background-position: -1406px -102px}
.liverlevel-pic_liverlevel_12 {width:24px; height:18px; background-position: -1380px -102px}
.liverlevel-pic_liverlevel_13 {width:24px; height:18px; background-position: -1354px -102px}
.liverlevel-pic_liverlevel_14 {width:24px; height:18px; background-position: -1328px -102px}
.liverlevel-pic_liverlevel_15 {width:24px; height:18px; background-position: -1302px -102px}
.liverlevel-pic_liverlevel_16 {width:24px; height:18px; background-position: -1276px -102px}
.liverlevel-pic_liverlevel_17 {width:24px; height:18px; background-position: -1250px -102px}
.liverlevel-pic_liverlevel_18 {width:24px; height:18px; background-position: -1224px -102px}
.liverlevel-pic_liverlevel_19 {width:24px; height:18px; background-position: -1198px -102px}
.liverlevel-pic_liverlevel_2 {width:24px; height:18px; background-position: -1172px -102px}
.liverlevel-pic_liverlevel_20 {width:24px; height:18px; background-position: -1146px -102px}
.liverlevel-pic_liverlevel_21 {width:24px; height:18px; background-position: -1120px -102px}
.liverlevel-pic_liverlevel_22 {width:24px; height:18px; background-position: -1094px -102px}
.liverlevel-pic_liverlevel_23 {width:24px; height:18px; background-position: -1068px -102px}
.liverlevel-pic_liverlevel_24 {width:24px; height:18px; background-position: -1042px -88px}
.liverlevel-pic_liverlevel_25 {width:24px; height:18px; background-position: -1016px -88px}
.liverlevel-pic_liverlevel_26 {width:24px; height:18px; background-position: -990px -88px}
.liverlevel-pic_liverlevel_27 {width:24px; height:18px; background-position: -964px -88px}
.liverlevel-pic_liverlevel_28 {width:24px; height:18px; background-position: -938px -88px}
.liverlevel-pic_liverlevel_29 {width:24px; height:18px; background-position: -912px -88px}
.liverlevel-pic_liverlevel_3 {width:24px; height:18px; background-position: -886px -88px}
.liverlevel-pic_liverlevel_30 {width:24px; height:18px; background-position: -860px -88px}
.liverlevel-pic_liverlevel_4 {width:24px; height:18px; background-position: -834px -88px}
.liverlevel-pic_liverlevel_5 {width:24px; height:18px; background-position: -808px -88px}
.liverlevel-pic_liverlevel_6 {width:24px; height:18px; background-position: -782px -88px}
.liverlevel-pic_liverlevel_7 {width:24px; height:18px; background-position: -756px -88px}
.liverlevel-pic_liverlevel_8 {width:24px; height:18px; background-position: -730px -88px}
.liverlevel-pic_liverlevel_9 {width:24px; height:18px; background-position: -704px -88px}
.pic_guardlevel_L-pic_guardlevel_L_1 {width:70px; height:84px; background-position: -1010px -2px}
.pic_guardlevel_L-pic_guardlevel_L_10 {width:70px; height:84px; background-position: -938px -2px}
.pic_guardlevel_L-pic_guardlevel_L_11 {width:70px; height:84px; background-position: -866px -2px}
.pic_guardlevel_L-pic_guardlevel_L_12 {width:70px; height:84px; background-position: -794px -2px}
.pic_guardlevel_L-pic_guardlevel_L_13 {width:70px; height:84px; background-position: -722px -2px}
.pic_guardlevel_L-pic_guardlevel_L_14 {width:70px; height:84px; background-position: -650px -2px}
.pic_guardlevel_L-pic_guardlevel_L_15 {width:70px; height:84px; background-position: -578px -2px}
.pic_guardlevel_L-pic_guardlevel_L_2 {width:70px; height:84px; background-position: -506px -2px}
.pic_guardlevel_L-pic_guardlevel_L_3 {width:70px; height:84px; background-position: -434px -2px}
.pic_guardlevel_L-pic_guardlevel_L_4 {width:70px; height:84px; background-position: -362px -2px}
.pic_guardlevel_L-pic_guardlevel_L_5 {width:70px; height:84px; background-position: -290px -2px}
.pic_guardlevel_L-pic_guardlevel_L_6 {width:70px; height:84px; background-position: -218px -2px}
.pic_guardlevel_L-pic_guardlevel_L_7 {width:70px; height:84px; background-position: -146px -2px}
.pic_guardlevel_L-pic_guardlevel_L_8 {width:70px; height:84px; background-position: -74px -2px}
.pic_guardlevel_L-pic_guardlevel_L_9 {width:70px; height:84px; background-position: -2px -2px}
.relationlevel-pic_relationlevel_1 {width:24px; height:18px; background-position: -678px -88px}
.relationlevel-pic_relationlevel_10 {width:24px; height:18px; background-position: -652px -88px}
.relationlevel-pic_relationlevel_11 {width:24px; height:18px; background-position: -626px -88px}
.relationlevel-pic_relationlevel_12 {width:24px; height:18px; background-position: -600px -88px}
.relationlevel-pic_relationlevel_13 {width:24px; height:18px; background-position: -574px -88px}
.relationlevel-pic_relationlevel_14 {width:24px; height:18px; background-position: -548px -88px}
.relationlevel-pic_relationlevel_15 {width:24px; height:18px; background-position: -522px -88px}
.relationlevel-pic_relationlevel_16 {width:24px; height:18px; background-position: -496px -88px}
.relationlevel-pic_relationlevel_17 {width:24px; height:18px; background-position: -470px -88px}
.relationlevel-pic_relationlevel_18 {width:24px; height:18px; background-position: -444px -88px}
.relationlevel-pic_relationlevel_19 {width:24px; height:18px; background-position: -418px -88px}
.relationlevel-pic_relationlevel_2 {width:24px; height:18px; background-position: -392px -88px}
.relationlevel-pic_relationlevel_20 {width:24px; height:18px; background-position: -366px -88px}
.relationlevel-pic_relationlevel_21 {width:24px; height:18px; background-position: -340px -88px}
.relationlevel-pic_relationlevel_22 {width:24px; height:18px; background-position: -314px -88px}
.relationlevel-pic_relationlevel_23 {width:24px; height:18px; background-position: -288px -88px}
.relationlevel-pic_relationlevel_24 {width:24px; height:18px; background-position: -262px -88px}
.relationlevel-pic_relationlevel_25 {width:24px; height:18px; background-position: -236px -88px}
.relationlevel-pic_relationlevel_26 {width:24px; height:18px; background-position: -210px -88px}
.relationlevel-pic_relationlevel_27 {width:24px; height:18px; background-position: -184px -88px}
.relationlevel-pic_relationlevel_28 {width:24px; height:18px; background-position: -158px -88px}
.relationlevel-pic_relationlevel_29 {width:24px; height:18px; background-position: -132px -88px}
.relationlevel-pic_relationlevel_3 {width:24px; height:18px; background-position: -106px -88px}
.relationlevel-pic_relationlevel_30 {width:24px; height:18px; background-position: -80px -88px}
.relationlevel-pic_relationlevel_31 {width:24px; height:18px; background-position: -54px -88px}
.relationlevel-pic_relationlevel_32 {width:24px; height:18px; background-position: -28px -88px}
.relationlevel-pic_relationlevel_33 {width:24px; height:18px; background-position: -2px -88px}
.relationlevel-pic_relationlevel_34 {width:24px; height:18px; background-position: -1550px -82px}
.relationlevel-pic_relationlevel_35 {width:24px; height:18px; background-position: -1524px -82px}
.relationlevel-pic_relationlevel_36 {width:24px; height:18px; background-position: -1498px -82px}
.relationlevel-pic_relationlevel_37 {width:24px; height:18px; background-position: -1472px -82px}
.relationlevel-pic_relationlevel_38 {width:24px; height:18px; background-position: -1446px -82px}
.relationlevel-pic_relationlevel_39 {width:24px; height:18px; background-position: -1420px -82px}
.relationlevel-pic_relationlevel_4 {width:24px; height:18px; background-position: -1394px -82px}
.relationlevel-pic_relationlevel_40 {width:24px; height:18px; background-position: -1368px -82px}
.relationlevel-pic_relationlevel_41 {width:24px; height:18px; background-position: -1342px -82px}
.relationlevel-pic_relationlevel_42 {width:24px; height:18px; background-position: -1316px -82px}
.relationlevel-pic_relationlevel_43 {width:24px; height:18px; background-position: -1290px -82px}
.relationlevel-pic_relationlevel_44 {width:24px; height:18px; background-position: -1264px -82px}
.relationlevel-pic_relationlevel_45 {width:24px; height:18px; background-position: -1238px -82px}
.relationlevel-pic_relationlevel_46 {width:24px; height:18px; background-position: -1212px -82px}
.relationlevel-pic_relationlevel_47 {width:24px; height:18px; background-position: -1186px -82px}
.relationlevel-pic_relationlevel_48 {width:24px; height:18px; background-position: -1160px -82px}
.relationlevel-pic_relationlevel_49 {width:24px; height:18px; background-position: -1134px -82px}
.relationlevel-pic_relationlevel_5 {width:24px; height:18px; background-position: -1108px -82px}
.relationlevel-pic_relationlevel_50 {width:24px; height:18px; background-position: -1082px -82px}
.relationlevel-pic_relationlevel_6 {width:24px; height:18px; background-position: -1532px -62px}
.relationlevel-pic_relationlevel_7 {width:24px; height:18px; background-position: -1506px -62px}
.relationlevel-pic_relationlevel_8 {width:24px; height:18px; background-position: -1480px -62px}
.relationlevel-pic_relationlevel_9 {width:24px; height:18px; background-position: -1454px -62px}
