body{
    font-family:"Microsoft YaHei";
    background-color:#f1f1f1;
}
*{
    margin: 0;
    padding:0;
    list-style: none; 
}
a{
    color: #333;
}
a:hover{
    text-decoration: none; 
    color:none; 
}
.fl{ float:left; }
.fr{ float:right;}
.clearFix:after{ content:''; display:block; clear:both; }
.color33{
    color: #333;
}
.color99{
    color: #999;
}
.colordd{
    color: #ddd;
}
.bgdd{
    background-color: #ddd;
}
.padd1{
    padding: 1px  !important; 
}
.bord1d{
    border:1px solid #ddd !important;
}
.bord1Pin{
    border:1px solid #e34052 !important;
}
.colorff{
    color: #fff;
}
.color1f{
    color: #1f1f1f;
}
.bgdd{
    background-color: #ddd;
}
.bgff{
    background-color: #fff;
}
.bgfa{
    background-color: #fafafa;
}
.bgf4{
    background-color: #f4f4f4 !important;
}
.bgnone{
    background-color: none;
}
.block{
    display: block;
}
.colorPin{
    color:#e34052;
}
.bgPin{
    background-color:#e34052;
}
.colorBlue{
    color:#3e63d8;
}
.f12{
    font-size:12px;
}
.f14{
    font-size:14px;
}
.f16{
    font-size:16px;
}
.f18{
    font-size:18px;
}
.bordR3{
    border-radius: 3px;
}
.margB6{
    margin-bottom: 6px;
}
.margB8{
    margin-bottom: 8px;
}
.margB10{
    margin-bottom: 10px;
}
.thumbnail:hover{
    border-color:none;
}
    .navbar-default {
        background-color: #fff;
        border-color: #e34052;
        border-bottom-width: 2px;
        font-size: 18px;
    }
    @media (min-width: 1450px) {
        .container {
            width: 1440px;
        }
    }

    /* 大分块 */
    @media (min-width: 1450px) {
        .container {
            width: 1440px;
        }

        .mainLeft {
            width: 79%;
        }

        .mainRight {
            width: 20%;
        }
    }

    .mainRight .thumbnail {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .logName {
        width: 96px;
    }

    .thumbnail {
        padding: 0;
        border-radius: 3px;
        border: none;
    }

    /*登录注册*/
    @media (min-width: 768px) {
        .navbar-right {
            float: right !important;
            margin-right: 34px;
        }
    }

    /*商标*/
    .logo_head {
        background: url(/public/index/images/logo_head.png) no-repeat;
        width: 120px;
        height: 45px;
        margin-right: 25px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    /* 登录注册隐藏 */
    @media (min-width: 768px) {
        /* .navbar-right {
            display: none;
        } */

    }
    @media (max-width: 767px) {
        .thumbnail {
            padding: 0;
        }
    }
    /*导航*/
    .hdNavL {
        margin-left: 26px;
    }

    .hdNavL > li {
        margin-right: 16px;
    }

    .hdNavL > li > a {
        padding: 5px 10px;
        margin-top: 14px;
        border-radius: 4px; 
    }

    .navbar-default .navbar-nav > .active > a {
        color: #fff;
        background-color: #3e63d8;
    }

    .navbar-default .navbar-nav>.active>a:hover{
        background-color: #6683e2;
        color:#fff; 
    }

    .hdNavR > li > a {
        padding: 17px 6px;
        font-size: 16px;
    }

    @media (max-width: 767px) {
        .navbar-default .hdNavL li.active {
            height: 20%;
        }
    }
    .searchN {
        border-radius: 20px;
        -webkit--border-radius: 20px;
        -o-border-radius: 20px;
    }

    .searchBtn {
        color: #e34052;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
        border-left: none;
    }
}

.officialMailbox{
    color: #337ab7;
}