<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>蝌蚪用户服务和隐私权政策协议</title>
	<link  href="<{$cdn}>/public/assist/css/serviceArgument.css" data-fixed="true" rel="stylesheet">

</head>
<body style="padding-top:60px;">

<{include file="../public/header.html"}>

<!-- 主体 -->
<div class="details">
	<div class="container">
		<div class="recru_content">
			<h3 class="text-center">蝌蚪用户服务和隐私权政策协议</h3>
			<div class="recruitItem">
				<h2 class="color33 f14">1. 特别提示</h2>
				<p>
					1.1
					蝌蚪直播视频娱乐平台（以下合称&ldquo;蝌蚪直播&rdquo;）同意按照本协议的规定及其不时发布的操作规则提供基于互联网以及移动网的相关服务（以下称&ldquo;网络服务&rdquo;），为获得网络服务，服务使用人（以下称&ldquo;用户&rdquo;）应当同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击&ldquo;注册&rdquo;按钮即表示用户完全接受本协议项下的全部条款。
					<br> 1.2
					用户注册成功后，蝌蚪直播将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。
				</p>
				<h2 class="color33 f14">2. 服务内容</h2>
				<p>
					2.1
					蝌蚪直播网络服务的具体内容由蝌蚪直播根据实际情况提供，例如视频直播、视频点播、在线音乐、搜索、交友、论坛(BBS)、聊天室、电子邮件、发表评论等。
					<br> 2.2
					蝌蚪直播提供的部分网络服务为收费的网络服务，用户使用收费网络服务需要向蝌蚪直播支付一定的费用。对于收费的网络服务，蝌蚪直播会在用户使用之前给予用户明确的提示，只有用户根据提示确认其愿意支付相关费用，用户才能使用该等收费网络服务。如用户拒绝支付相关费用，则蝌蚪直播有权不向用户提供该等收费网络服务。
					<br> 2.3
					用户理解，蝌蚪直播仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。
				</p>
				<h2 class="color33 f14">3. 服务变更、中断或终止</h2>
				<p>
					3.1
					鉴于网络服务的特殊性，用户同意蝌蚪直播有权随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。如变更、中断或终止的网络服务属于免费网络服务，蝌蚪直播无需通知用户，也无需对任何用户或任何第三方承担任何责任；如变更、中断或终止的网络服务属于收费网络服务，蝌蚪直播应当在变更、中断或终止之前事先通知用户，并应向受影响的用户提供等值的替代性的收费网络服务，如用户不愿意接受替代性的收费网络服务，就该用户已经向蝌蚪直播支付的服务费，蝌蚪直播应当按照该用户实际使用相应收费网络服务的情况扣除相应服务费之后将剩余的服务费退还给该用户。
					<br> 3.2
					用户理解，蝌蚪直播需要定期或不定期地对提供网络服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，如因此类情况而造成收费网络服务在合理时间内的中断，蝌蚪直播无需为此承担任何责任，但蝌蚪直播应尽可能事先进行通告。
					<br> 3.3
					如发生下列任何一种情形，蝌蚪直播有权不经通知随时中断或终止向用户提供本协议项下的网络服务（包括收费网络服务）而无需对用户或任何第三方承担任何责任，并且无需向用户退还其已经向蝌蚪直播支付的服务费：
					<br> 3.3.1 用户提供的个人资料不真实； <br> 3.3.2
					用户在使用收费网络服务时未按规定向蝌蚪直播支付相应的服务费； <br> 3.3.3
					用户在使用蝌蚪直播服务时破解、攻击蝌蚪直播系统或者利用系统漏洞获取不正当利益，或损害其他用户和蝌蚪直播的合法权益； <br>
					3.3.4
					用户违反本协议中规定的使用规则，利用蝌蚪直播提供的网络服务上传、展示或传播虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他非法的信息资料；
					<br> 3.3.5
					用户违反本协议中规定的使用规则，在蝌蚪直播之内或之外辱骂、攻击、恶意诋毁蝌蚪直播，或者阻碍他人使用蝌蚪直播服务，怂恿、煽动、教唆蝌蚪直播的用户和主播停止使用蝌蚪直播服务；
					<br> 3.3.6 用户其他违反本协议中使用规则的行为。 <br> 3.4
					如用户注册的免费网络服务的帐号在任何连续90日内未实际使用，或者用户注册的收费网络服务的帐号在其订购的收费网络服务的服务期满之后连续180日内未实际使用，则蝌蚪直播有权删除该帐号并停止为该用户提供相关的网络服务。
					<br> 3.5
					用户注册的免费帐号昵称如存在违反法律法规或国家政策要求，或侵犯任何第三方合法权益的情况，蝌蚪直播有权收回该帐号昵称。
				</p>
				<h2 class="color33 f14">4. 使用规则</h2>
				<p>
					4.1 用户在申请使用蝌蚪直播网络服务时，必须向蝌蚪直播提供准确的个人资料，如个人资料有任何变动，必须及时更新。 <br>
					4.2
					用户不应将其帐号、密码转让或出借予他人使用。如用户发现其帐号遭他人非法使用，应立即通知蝌蚪直播。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，蝌蚪直播不承担任何责任。
					<br> 4.3
					用户同意蝌蚪直播有权在提供网络服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在蝌蚪直播网站的任何页面上投放广告），并且，用户同意接受蝌蚪直播通过电子邮件或其他方式向用户发送商品促销或其他相关商业信息。
					<br> 4.4
					对于用户通过蝌蚪直播网络服务（包括但不限于论坛、BBS、评论、个人微博）上传到蝌蚪直播网站上可公开获取区域的任何内容，用户同意蝌蚪直播在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容
					（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。 <br> 4.5
					用户在使用蝌蚪直播网络服务过程中，必须遵循以下原则： <br> 4.5.1 遵守中国有关的法律和法规； <br>
					4.5.2 遵守所有与网络服务有关的网络协议、规定和程序； <br> 4.5.3 不得为任何非法目的而使用网络服务系统； <br>
					4.5.4 不得以任何形式使用蝌蚪直播网络服务侵犯蝌蚪直播的商业利益，包括并不限于发布非经蝌蚪直播许可的商业广告； <br>
					4.5.5 不得利用蝌蚪直播网络服务系统进行任何可能对互联网或移动网正常运转造成不利影响的行为； <br> 4.5.6
					不得利用蝌蚪直播提供的网络服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；
					<br> 4.5.7 不得侵犯其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益； <br>
					4.5.8 不得利用蝌蚪直播网络服务系统进行任何不利于蝌蚪直播的行为； <br> 4.5.9
					不得在直播间捣乱、辱骂主播或用户，影响直播间的正常秩序； <br> 4.5.10
					严禁在直播间不间断刷屏辱骂,影响主播直播和用户聊天交流； <br> 4.5.11
					不得在蝌蚪直播内宣传其他同类平台，意图转移主播及用户去其他平台，一经发现即可做封停帐号处理； <br> 4.6
					蝌蚪直播有权对用户使用蝌蚪直播网络服务的情况进行审查和监督(包括但不限于对用户存储在蝌蚪直播的内容进行审核)，如用户在使用网络服务时违反任何上述规定，蝌蚪直播或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用网络服务的权利）以减轻用户不当行为
					造成的影响。 <br> 4.7
					蝌蚪直播针对某些特定的蝌蚪直播网络服务的使用通过各种方式（包括但不限于网页公告、电子邮件、短信提醒等）作出的任何声明、通知、警示等内容视为本协议的一部分，用户如使用该等蝌蚪直播网络服务，视为用户同意该等声明、通知、警示的内容。
				</p>
				<h2 class="color33 f14">5. 知识产权</h2>
				<p>
					5.1
					蝌蚪直播提供的网络服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护，未经相关权利人同意，上述资料均不
					得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。所有这些资料或资料的任何部分仅可作为私人和非商业
					用途而保存在某台计算机内。蝌蚪直播不就由上述资料产生或在传送或递交全部或部分上述资料过程中产生的延误、不准确、错误和遗漏或从中产生或由此产生的任何损
					害赔偿，以任何形式，向用户或任何第三方负责。 <br> 5.2
					蝌蚪直播为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图象、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均
					属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程（reverse
					engineer）、反向编译（decompile）或反汇编（disassemble）。
				</p>
				<h2 class="color33 f14">6. 隐私保护</h2>
				<p>
					6.1
					保护用户隐私是蝌蚪直播的一项基本政策，蝌蚪直播保证不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在蝌蚪直播的非公开内容，但下列情况除外：
					<br> 6.1.1 事先获得用户的明确授权； <br> 6.1.2 根据有关的法律法规要求； <br>
					6.1.3 按照相关政府主管部门的要求； <br> 6.1.4 为维护社会公众的利益； <br> 6.1.5
					为维护蝌蚪直播的合法权益。 <br> 6.2
					蝌蚪直播可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与蝌蚪直播同等的保护用户隐私的责任，则蝌蚪直播有权将用户的注册资料等提供给该第三方。
					<br> 6.3 在不透露单个用户隐私资料的前提下，蝌蚪直播有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
				</p>
				<h2 class="color33 f14">7. 免责声明</h2>
				<p>
					7.1
					用户明确同意其使用蝌蚪直播网络服务所存在的风险将完全由其自己承担；因其使用蝌蚪直播网络服务而产生的一切后果也由其自己承担，蝌蚪直播对用户不承担任何责任。
					<br> 7.2
					蝌蚪直播不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。 <br>
					7.3
					蝌蚪直播不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由蝌蚪直播实际控制的任何网页上的内容，蝌蚪直播不承担任何责任。
					<br> 7.4
					对于因不可抗力或蝌蚪直播不能控制的原因造成的网络服务中断或其它缺陷，蝌蚪直播不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。
					<br> 7.5
					用户同意，对于蝌蚪直播向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，蝌蚪直播无需承担任何责任： <br>
					7.5.1 蝌蚪直播向用户免费提供的各项网络服务； <br> 7.5.2 蝌蚪直播向用户赠送的任何产品或者服务； <br>
					7.5.3 蝌蚪直播向收费网络服务用户附赠的各种产品或者服务。
				</p>
				<h2 class="color33 f14">8. 违约赔偿</h2>
				<p>
					8.1 如因蝌蚪直播违反有关法律、法规或本协议项下的任何条款而给用户造成损失，蝌蚪直播同意承担由此造成的损害赔偿责任。 <br>
					8.2
					用户同意保障和维护蝌蚪直播及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给蝌蚪直播或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。
				</p>
				<h2>9. 协议修改</h2>
				<p>
					9.1
					蝌蚪直播有权随时修改本协议的任何条款，一旦本协议的内容发生变动，蝌蚪直播将会直接在蝌蚪直播网站上公布修改之后的协议内容，该公布行为视为蝌蚪直播已经通知用户修改内容。蝌蚪直播也可通过其他适当方式向用户提示修改内容。
					<br> 9.2
					如果不同意蝌蚪直播对本协议相关条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受蝌蚪直播对本协议相关条款所做的修改。
				</p>
				<h2 class="color33 f14">10. 通知送达</h2>
				<p>
					10.1
					本协议项下蝌蚪直播对于用户所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。
					<br> 10.2 用户对于蝌蚪直播的通知应当通过蝌蚪直播对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。
				</p>
				<h2>11. 法律管辖</h2>
				<p>
					11.1 本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。 <br> 11.2
					如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向蝌蚪直播所在地的人民法院提起诉讼。
				</p>
				<h2 class="color33 f14">
					<a name="_GoBack"></a>12. 其他规定
				</h2>
				<p>
					12.1 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。 <br>
					12.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。 <br>
					12.3 本协议中的标题仅为方便而设，在解释本协议时应被忽略。
				</p>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
</div>

<{include file="../public/footer.html"}>

</body>

</html>








