@charset "utf-8";
/* CSS Document */
body{
	font-family:"Microsoft YaHei";
	background-color:#f4f4f4;
}
a{
	color: #333;
}
a:hover{
	text-decoration: none; 
}
.fl{ float:left; }
.fr{ float:right;}
.clearFix:after{ content:''; display:block; clear:both; }
.color33{
	color: #333;
}
.color99{
	color: #999;
}
.colordd{
	color: #ddd;
}
.colorff{
	color: #fff;
}
.bgdd{
	background-color: #ddd;
}
.padd1{
	padding: 1px  !important; 
}
.bord1d{
	border:1px solid #ddd !important;
}
.bord1Pin{
	border:1px solid #e34052 !important;
}
.bgf4{
	background-color: #f4f4f4 !important;
}
.bgff{
	background-color: #fff !important;
}

.colorPin{
	color:#e34052;
}
.bgPin{
	background-color:#e34052;
}
.colorBlue{
	color:#3e63d8;
}
.f12{
	font-size:12px;
}
.f14{
	font-size:14px;
}
.f16{
	font-size:16px;
}
/*字体*/
.icon-hot{
	background: url(/images/kedo/icon_hot.png) no-repeat;
	width: 40px;
	height: 20px; 
}
.icon-fire{
	background: url(/images/kedo/icon_jingcai.png) no-repeat;
	width: 40px;
	height: 20px; 
	margin-right: 10px; 
}
.icon-new{
	background: url(/images/kedo/icon_new.png) no-repeat;
	width: 40px;
	height: 20px; 
}
.row{
	margin-right: -8px;
    margin-left: -8px;
}
.hotCon .col-lg-1,
.hotCon .col-lg-10, 
.hotCon .col-lg-11,
.hotCon .col-lg-12, 
.hotCon .col-lg-2,
.hotCon .col-lg-3, 
.hotCon .col-lg-4, 
.hotCon .col-lg-5, 
.hotCon .col-lg-6, 
.hotCon .col-lg-7, 
.hotCon .col-lg-8,
.hotCon .col-lg-9,
.hotCon .col-md-1,
.hotCon .col-md-10,
.hotCon .col-md-11,
.hotCon .col-md-12,
.hotCon .col-md-2, 
.hotCon .col-md-3, 
.hotCon .col-md-4, 
.hotCon .col-md-5,
.hotCon .col-md-6,
.hotCon .col-md-7,
.hotCon .col-md-8, 
.hotCon .col-md-9, 
.hotCon .col-sm-1,
.hotCon .col-sm-10,
.hotCon .col-sm-11,
.hotCon .col-sm-12, 
.hotCon .col-sm-2, 
.hotCon .col-sm-3,
.hotCon .col-sm-4, 
.hotCon .col-sm-5, 
.hotCon .col-sm-6,
.hotCon .col-sm-7, 
.hotCon .col-sm-8, 
.hotCon .col-sm-9, 
.hotCon .col-xs-10, 
.hotCon .col-xs-12, 
.hotCon .col-xs-2,
.hotCon .col-xs-3,
.hotCon .col-xs-4,
.hotCon .col-xs-5, 
.hotCon .col-xs-6, 
.hotCon .col-xs-7, 
.hotCon .col-xs-8, 
.hotCon .col-xs-9 {
    padding-right: 8px;
    padding-left: 8px;
}
/* 省略 */
.ellipsis{
	width: 99%;
	overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
}
.line{
	width:100%;
	height:1px;
	background-color:#ddd;
}

/*搜索按钮*/
.searchBtn{
	color:#e34052;
	border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	border-left:none;
}
/* 大分块 */

@media(min-width:1450px){
	.container{
		width:1440px;
	} 
	.mainLeft{
	width: 79%;
	}
	.mainRight{
		width: 20%;
	}
}

.mainRight .thumbnail{
	border-radius:3px; 
	-webkit-border-radius:3px;
	-o-border-radius:3px; 
}
.logName{
	width:96px; 
}

.thumbnail{
	padding:0; 
	border-radius: 3px;
	border: none; 
}
.mainRight .thumbnail{
	border-radius:8px; 
	-webkit-border-radius:8px;
	-o-border-radius:8px; 
}
/*登录注册*/
@media (min-width: 768px){
	.navbar-right {
		float: right!important;
		 margin-right:34px; 
	}
}

/*商标*/
.logo_head{
	background: url(/images/kedo/logo_head.png) no-repeat;
	width: 120px;
	height: 45px; 
	margin-right: 25px;
	margin-top:4px;
	margin-bottom:4px; 
}

/* 登录注册隐藏 */
@media (min-width: 768px){
	/* .navbar-right {
	    display: none;
	} */
	
}
@media (max-width: 767px){
	.thumbnail{
		padding: 0; 
	}
}
/*导航*/
.hdNavL{
	margin-left: 26px;
}
.hdNavL>li{
	margin-right: 16px;
}
.hdNavL>li>a{
	padding: 10px 10px;
    margin-top: 7px;
}
.navbar-default .navbar-nav>.active>a{
	color:#fff;
	background-color:#3e63d8;
}

.navbar-default .navbar-nav>.active>a:hover{
	background-color: #6683e2;
	color:#fff; 
}


.hdNavR>li>a{
	padding: 17px 6px;
	font-size:16px;
}
@media (max-width: 767px){
	.navbar-default .hdNavL li.active{
		height:20%; 
	}
}

/*轮播图*/
#carousel-example-captions{
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	position:relative;
}
.thumb-bar{
	width: 0;
    height: 2px;
    -webkit-transition: all ease-in 250ms;
    transition: all ease-in 250ms;
    background-color: #e34052;
    position: absolute;
    bottom: 0;
    left: 0;
}
.recommImg{
	position: relative;
	display: block;
}
.recommImg img{
	width:100%; 
}
.carousel-indicators li.active{
	background-color:#e34052;
}
.searchN{
	border-radius:20px; 
	-webkit--border-radius:20px;
	-o-border-radius:20px; 
}
#btn_login{
	background-color:#e34052;
	border:1px solid #f40923;
}

.regLog{
    padding:34px 12px 14px;
}
/*登陆后*/
.header-notice{
	display: inline-block;
    width: 24px;
    height: 18px;
    background: url("/images/kedo/header_notice.png") no-repeat;
    cursor: pointer;
    margin-top: 20px
}
.AfterLog .imgR{
    border:2px solid #e34052;
    margin-right:16px;
}
.money .glyphicon-bold{
    background-color:#faba4a;
    padding:4px;
    color:#b5810f;
}
.money{
    margin-bottom:10px;
}
.btn-warning{
    padding:4px 12px;
}
.progress{
    height:12px;
    margin-top:16px;
    margin-bottom:4px;
}
.showOw{
    margin-top:12px;
}
.showOw input{
    border-color: #3e63d8;;
}
.showOw .show{
    padding-left:44px;
    padding-right:44px;
}
.AfterLog hr{
    margin-top:6px;
}
.achieve .achieve1,.achieve .achieve2,.achieve .achieve3,.achieve .achieve4 {
    background:url(../images/pic_huizhang_01.png) no-repeat;
    width:44px;
    height:44px;
    margin-right:12px;
}

.achieve .achieve2{
    background:url(../images/pic_huizhang_02.png);
}
.achieve .achieve3{
    background:url(../images/pic_huizhang_03.png);
}
.achieve .achieve4{
    background:url(../images/pic_huizhang_04.png);
}


@media (min-width: 1200px){
	.loginBtn,.regBtn{
		padding:10px 80px; 
	}
	.regBtn{
		color:#7596E5;
	}
	.qqLog{
		padding:10px 73px;
	}
	.weChatLog{
		padding:10px 66px;
	}
}
	/*我的关注*/
.infoB{
	color:#999;
}
.infoB p:first-child{
	color:#e34052;
}
.follow .foLi img,.follow .foLi div,.rank .foLi img,.rank .foLi div,.rich .foLi img,.rich .foLi div,.fans .foLi img,.fans .foLi div{
		margin:3px;
	}
	.follow .foLi img,.follow .titH,.rank .foLi img,.rank .titH,.rich .foLi img,.rich .titH,.fans .foLi img,.fans .titH{
		margin-left:16px;
	}
	.follow .titD,.rank .titD,.rich .titD,.fans .titD{
		margin-right:16px;
		padding-top:3%;
	}
	.follow .foLi .spriteLev,.rank .foLi .spriteLev,.rich .foLi .spriteLev,.fans .foLi .spriteLev{
		margin-top:18px;
	}
	.follow a>img,.rank a>img,.rich a>img,.fans a>img{
        width: 21%;
        height: auto;
    }
    .foLi .foLi .state,.foLi .state{
    	width:40%;
    	margin-top: 5%; 
    }
    .rank .foLi .state{
    	width: 34%; 
    }
    .foLi{
    	position: relative;
    }
    .glyphicon-menu-up-hover:before {
        content: "\e260";
        color: #A6A6A6;
    }
    .glyphicon-menu-down-hover:before {
        content: "\e259";
        color: #A6A6A6;
    }
.follow .caption .followList{
	overflow: hidden;
}
.follow .caption .boxx{
    max-height: 335px;
    overflow: hidden;
    position: relative;
}

.follow .caption .boxx .foLi{
   position: relative;
}
.captitle .active{
    background-color: #3e63d8;
    color: #fff;
}
.rank_list a{
    width: 100%;
    margin-top: 6px;
}
.foTit{
	margin-bottom: 5%; 
}
.follow .foTit{
	margin-bottom: 0;
}




.follow p,.rank p,.rich p,.fans p{
		color:#333;
	}
	.follow .name,.rank .name,.rich .name,.fans .name{
        font-size: 14px;
        margin: 7px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
	}
	.follow .ynLiv,.rank .ynLiv,.rich .ynLiv,.fans .ynLiv,.follow .yesLiv,.rank .yesLiv,.rich .yesLiv,.fans .yesLiv{
		font-size:12px;
		color:#999; 
		margin-left: 7px;
	}
	.follow .yesLiv{
		width: 92%;
		overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
	.crown{
		position: absolute;
	    top: -15px;
	    left: 9%;
	    width: 36px;
	    height: 20px;
	    background: url(/images/kedo/icon_huangguan.png);
	}
	.navbar-default{
		background-color:#fff; 
		border-color:#e34052;
		border-bottom-width:2px;
		font-size:18px;
	}
	.titD .colorPin{
		padding:4px;
	}
	.apply img{
		border-radius: 4px; 
	}
	/*热门*/
	
	.page-header{
		border:none !important;
		padding-bottom: 0 !important; 
	}
	.hotCon .hotR{
		margin-right: 10px; 
	}
	.adImg{
		margin-top: -3%;
	}

		
	/* 手机端 */
	.hrow1{
		display: flex;
	}
	
	.hotCon .thumbnail >img{
		border-radius:3px;
		width:100%;
	}
	.hotCon .firHot{
		background-color:#e34052;	
	}
	/* .firHot{
		width:250px;
		height: 380px;
	} */

	.firHot .firB{
		bottom:0.4%;
		left:1%;
		right:1%;
		width:98.2%;
	}
	
	.page-header .pull-left{
		margin-bottom:0; 
	}
	.firHot,.hotItem{
		position:relative; 
	}
	
	.firB,.hotB{
		height:23%; 
		position:absolute;
		left:0; 
		bottom:0;
		background:#fff; 
		width:100%; 
		padding-top: 5%;
		padding-left: 5%;
		font-size: 16px;
		color: #999;
	}
			
	.shadow{
		width: 100%;
		height: 100%;
		background-color: #000;
		position: absolute;
		left: 0;
		top: 0;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    filter: alpha(opacity=0);
	    opacity: 0;
	    background-color: #000;
	    -webkit-transition: all ease-in 250ms;
	    transition: all ease-in 250ms;
	}
	.squareDe .shadow{
		height: 72%;
	}
	.squareDe .playBtn{
		top: 38%; 
	}
	.playBtn{
		position: absolute;
	    z-index: 10;
	    top: 50%;
	    left: 50%;
	    margin-left: -20px;
	    margin-top: -20px;
	    width: 40px;
	    height: 40px;
	    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    filter: alpha(opacity=0);
	    opacity: 0;
	    background: url("http://i7.pdim.gs/bd7431bc663cd90b0a0b56b682f3bef9.png") no-repeat;
	    -webkit-transform: scale(2);
	    -ms-transform: scale(2);
	    transform: scale(2);
	    -webkit-transition: all ease-in 250ms;
	    -ms-transition:all ease-in 250ms;
	    transition: all ease-in 250ms;
	}
	.firT,.hotT{
		background-color: #fff;
		position: absolute;
		width: 90%;
		height: 9%;
		top: 5%; 
		left: 5%;
		opacity: .8;
		filter:alpha(opacity:80);
		 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
		color: #333; 
		
	}
	.firT >div{
		position: absolute;
		top: -42%;
    	left: -5%;
	}
	.hotT{
		height: 14%;
		top: 4%;
		ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    filter: alpha(opacity=0);
	    opacity: 0;
	    -webkit-transition: all ease-in 250ms;
	    transition: all ease-in 250ms;
	}
	.hotB{
		height: 28%;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    filter: alpha(opacity=0);
	    opacity: 0;
	    -webkit-transition: all ease-in 250ms;
	    transition: all ease-in 250ms;
	}
	.hotItem{
		font-size: 12px; 
		overflow: hidden;
	}
	.hotItem .sprite_s{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}
	
	.glyphicon-stats{
		position: absolute !important;
		right: 11%; 
		top: 7% !important;
		color: #e34052; 
		z-index: 9;
	}
	
	
	/* 精彩推荐 */
	
	.recommB{
		padding: 9.2% 3.1% 3.4%;
	}
	.recommB .ellipsis{
		width:58%;
	}
	.recomm a.thumbnail{
		background-color: #f4f4f4;
		position: relative;
	}
	.recomm .thumbnail.recommImg{
		margin-bottom: 0;
	}
		
	
	/*底部*/
	.bs-docs-footer {
		padding-top: 2%;
		padding-bottom: 2%;
		margin-top: 4%;
		color: #9b9c9e;
		text-align: center;
		border-top: 1px solid #e5e5e5;
	}

	.bs-docs-footer .firBL{
		color: #999;
	}
	
	.bs-docs-footer .firBL:hover{
		color: #337ab7;
	}
	.officialMailbox{
		color: #337ab7;
	}



	
	/*所有悬停效果手机和平板没有*/
	@media (min-width: 1200px){
		#carousel-example-captions:hover .thumb-bar {
			width: 100%;
		
		}
		.recomm .thumbnail:hover .thumb-bar{
			 width: 100%;
		}
		#btn_login:hover{
			background-color:#e86473;
		}
		.titD .colorPin:hover{
			background-color:#3e63d8;
			color:#fff;
			text-decoration:none;	
		}
		.firHot:hover .shadow{
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
			filter: alpha(opacity=50);
			opacity: 0.5;
		}
		.firHot:hover .playBtn{
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			filter: alpha(opacity=100);
			opacity: 1;
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
		
		.hotItem:hover{
			-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
			-moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
			box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
		}
		.hotItem:hover .hotB{
			display: block;
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			filter: alpha(opacity=100);
			opacity: 1;
		}
		.hotItem:hover .hotT{
			display: block;
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			filter: alpha(opacity=100);
			opacity: 1;
		}
		.recommR a:hover{
			border-bottom:2px solid #3e63d8;
			text-decoration: none; 
		}
		.hotR a:hover{
			border-bottom:2px solid #3e63d8;
			text-decoration: none; 
		}
		.recomm a.thumbnail:hover {
			text-decoration: none;
			color: red; 
		}
		.recomm .thumbnail:hover *{
			color: #e34052;
		}
		
		.recomm .thumbnail:hover .shadow{
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
			filter: alpha(opacity=50);
			opacity: 0.5;
		}
		.recomm .thumbnail:hover .playBtn{
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			filter: alpha(opacity=100);
			opacity: 1;
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	
	}

	/*广场*/
	.square .squareTit{
		background: url("/images/kedo/pic_bg.png") no-repeat;
		position: relative;
	    width: 460px;
	    height: 62px;
	    cursor:pointer;
	    margin: 40px auto 20px;
	}
	.square .hotB{
		filter: alpha(opacity=100);
	    opacity: 1;
	}
	.square .squareTit div{
		width:259px;
		height: 62px;
		position: absolute;
	}
	.secTit{
		margin-bottom: 3%;
	}
	.secTit .colorPin a{
		color: #e34052;
	}

	.secTit span{
		margin-right: 1%;
	}
	.square .showHd{
		background: url("/images/kedo/pic_zhibo.png") no-repeat;
		right:0;
	}
	.square .showHd.active{
		background: url("/images/kedo/pic_zhiboxiu.png") no-repeat;
	}
	.square .showHd:hover{
		background: url("/images/kedo/pic_zhibo_hover.png") no-repeat;
	}
	.square .showHd.active:hover{
		background: url("/images/kedo/pic_zhiboxiu_hover.png") no-repeat;
	}
	.square .gameHd{
		background: url("/images/kedo/pic_game.png") no-repeat;
		left: 0;
	}
	.square .gameHd.active{
		background: url("/images/kedo/pic_gamelive.png") no-repeat;
	}
	.square .gameHd.active:hover{
		background: url("/images/kedo/pic_gamelive_hover.png") no-repeat;
	}
	.square .squareDe{
		display: none;
	}
	.gameAnch .thumbnail > img{
		border-radius: 0;
	}
	.gameAnch .thumbnail{
		padding: 0; 
        box-shadow: none;
        border: none;
	}
	.glyphicon-fire{
		border-radius: 4px;
		padding:0 10px;
	}
	.gameAnch .recommB .recommBL{
		width:18%;
		height: auto;
	}
	.gameAnch .row{
		margin-left: 0;
		margin-right: 0;
	}
	.recommBR{
		width:78%;
	}

	.rankReco .page-header,.entertain .page-header{
		margin-left: 0.7%;
	}
	.squareCon .recommB {
	    padding: 4% 3.1% 3.4%;
	}

	/*mod bootstrap*/
	@media (min-width: 1200px){
		.col-pc-1 {
		    width: 10% !important;
		}
		
		.col-pc-1 .shadow{
			-webkit-transition: all ease-in 250ms;
	    	transition: all ease-in 250ms;
			background-color: #000;
		}	

		.col-pc-1:hover .shadow{
			
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
			filter: alpha(opacity=50);
			opacity: 0.5;
		}

		.col-pc-1:hover .playBtn{
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			filter: alpha(opacity=100);
			opacity: 1;
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	}
	.gameAnch .allGame{
		margin-top: 20%;
	}

		
