<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--link href="/css/global.css" type="text/css" rel="stylesheet" /-->
<link href="<?php echo $page_var['cdn_domain']?>/css/personalmain.css?20150522" type="text/css" rel="stylesheet" />
<link href="<?php echo $page_var['cdn_domain']?>/css/level.css" rel="stylesheet" type="text/css"/>
<script src="<?php echo $page_var['cdn_domain']?>/js/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="<?php echo $page_var['cdn_domain']?>/css/commonv4.5.2.css" type="text/css" media="screen"/>
<script>
$.ajaxSetup ({
cache: false
});
</script>
<title>个人中心－美女主播、视频交友、美女视频、在线K歌</title>
<meta name="description" content="这里是超人气视频直播互动娱乐社区，在这里你可以展示自己的才艺，也可以跟众多优秀的美女主播在线互动聊天、视频交友" />
</head>
<body>
<script src="<?php echo $page_var['cdn_domain']?>/js/login.js"></script>
<iframe name="ipost" width="1" height="1" style="display:none"></iframe>

