@charset "utf-8";
/* CSS Document */
body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dd,dt,span,a,b,em,i,strong.img{ padding:0; margin:0;}
li{ list-style:none;}
a{ text-decoration:none;color:inherit}
textarea{ resize:none; }
input,select,textarea{ outline:none; }
.clearFix:after{ content:''; display:block; clear:both; }
html, body, .wrap {}
body{font-size:12px;font-family:微软雅黑;position: relative; background-color: #f4f4f4; }
.wrapper{ width:1440px; margin:0 auto; }
.wrapper .header{overflow:hidden; }
.l{width:1128px; }
.r{width:278px; }
.fl{ float:left; }
.fr{ float:right;}
img{border:none; }
/*header*/
.head-outer{width: 100%; background-color: #fff;height: 58px;}
.btline{border-bottom: 2px solid #f77599; }
.header{width: 1440px; margin: 0 auto; background: #fefefe; height: 48px;}
.header .hd_bg{background:url(/img/logo_qiantai.png) no-repeat;width:164px; height:50px; margin-left:12px; margin-top:8px;}
.header .nav{margin-left:74px; margin-top:22px; }
.nav .cu{border-bottom: 2px solid #3e63d8; padding-bottom:2px; }
.header .nav li{margin-right:70px; font-size:18px; color:#343434; cursor:pointer; }
.header .input{ margin-top:19px; height:27px; width:210px; border:1px solid #f77599; border-radius:20px; text-indent:1em;  position:relative; }
.header .input input{  padding-top: 2px;border:0px; line-height:24px; }
.header .input .search{background:url(/img/icon_honme_sousuo.png) no-repeat; width:14px; height:14px; position:absolute; right:8px; top:6px; cursor:pointer; }

/*轮播图*/
.box { width: 1128px; height: 298px; overflow: hidden; position: relative; background: #ccc; }

#ol {margin-left:544px; margin-top:14px;  overflow:hidden; cursor:pointer; }
#ol li { margin-right: 12px; display: inline; cursor: pointer; background: #e2e2e2; width:8px; height:8px; color: #d94b01;  border-radius:50%; float:left;  }
#ol .active { background: #f77599;  }

.box ul { position: absolute; top: -1px; left: 0; z-index: 1; overflow:hidden; }
.box ul li { width: 1128px; height: 298px; float: left; }
.box ul img { float: left; width: 1128px; height: 298px; }

.box p{width:20px; height:30px; line-height:30px; color: #fff; text-align: center; font-weight: bold; position: absolute; top: 50%; z-index: 2; cursor: pointer; margin-top:-10px; }
.box #pr {background:rgba(58,58,58,0.6) url(../img/icon_zuojiantou.png) center no-repeat; left: 10px; }
.box #ne { background:rgba(58,58,58,0.6) url(../img/icon_youjiantou.png) center no-repeat; right: 10px;  }
.box #pr:hover{ background-color:rgba(68,68,68,0.6); }
.box #ne:hover{ background-color:rgba(68,68,68,0.6); }


/*hot*/
.hot .beauty .first{ overflow:hidden; margin-left:15px;  position: relative; float: left; z-index:8; width:306px; height:444px; margin-top:-2px; }
.hot .first img{position:absolute; top:18px; left:19px; border-radius:20px;  width:269px; height:409px; z-index:2; }
.first em{position:absolute; left:0; top:0; z-index:4; }
.first span{position:absolute; left:8px; top:8px; z-index:5;  }
.first i{position:absolute; width:270px; height:46px; background:rgba(0,0,0,0.3);color:#fff; left:18px; top:18px; line-height:46px; text-align:center; z-index:3;font-style:normal; display:none; }

.first div{position:absolute; bottom:16px; left:18px; background:rgba(0,0,0,0.3); color:#fff;height:70px; width:270px; display:none; padding-top:14px; z-index:3;}
.first div p{margin-left:16px; line-height:30px; }
.first div b{font-weight:normal; }
.first div .b1{position:absolute; bottom:10px; right:58px; background:url(../img/site.png) no-repeat; width:20px; height:25px; opacity:0.5; border-radius:20px; }

.first div .b2{position:absolute; bottom:10px; right:10px; }
.first:hover i{display:block; }
.first:hover div{display:block; }
.hot{margin-bottom:42px; margin-top:12px;  font-size:16px; }
.hot .title{margin-top:12px; font-size:24px; color:#333; margin-bottom:22px; overflow:hidden; }
.hot .title .hot_bg{background:url(/img/icon_home_renmen.png) no-repeat; width:26px; height:14px; margin-top:12px; margin-right:6px; }
.hot .title .more{font-size:17px; color:#727272; margin-top:14px; margin-right:8px; }
.hot .title .dot{background:url(/img/icon-home-gengduo.png) no-repeat; width:6px;height:16px; margin-top:18px;}
.hot .breauList{overflow:hidden; }
.hot .beauty .sright{margin-top:4px;  }

.sright li{overflow:hidden; width:146px; height:213px;position:relative; margin-left:15px; margin-bottom:16px;  }
.sright li em{position:absolute; left:0; top:0; z-index:4; width:146px; height:213px; }

.movie  img{max-width:1130px;}
/*hover*/
.hot .sright li .span{z-index:5; position:absolute; top:4px; left:4px;}
.hot .sright li  .iszb{z-index: 2; position: absolute; top: 12px; right:14px;width:30px;height:10px;background: url("/img/icon_zhibozhong.png") no-repeat;}
.hot .first .Biszb{z-index:2; position: absolute; top:25px; left:240px;width:44px;height:14px;background: url("/img/icon_live_guanwang.png") no-repeat;}
.hot .sright li i{width:117px; height:28px; position:absolute; left:10px; top:10px; background:rgba(0,0,0,0.3);color:#e7e7e7; line-height:28px; text-align:center; z-index:3;font-style:normal; font-size:12px; padding-left:12px; display:none; }
.hot .sright li div{width:129px; height:36px; position:absolute; bottom:4px; left:10px; background:rgba(0,0,0,0.3); color:#fff;  font-size:12px; padding-top:14px; display:none; z-index:3; border-radius:4px; }
.hot .sright li div p{margin-left:6px; line-height:18px; color:#fff; margin-top:-10px; margin-bottom:8px; font-size:14px;    white-space: nowrap;  width: 120px;  text-overflow: ellipsis;  overflow: hidden; }
.hot .sright li div .st{font-size:12px; color:#e7e7e7; }

.hot .sright li:hover i{display:block; }
.hot .sright li:hover div{display:block; }

.hot .beauty .sright img,.new .beauty .sright img{width:130px; height:194px; position:absolute; border-radius:10px; left:8px; top:10px; z-index:2; }
 
.movie img{}

/*new*/
.new{margin-bottom:36px; margin-top:34px; cursor:pointer; }
.new .title{ font-size:24px; color:#ffb671; margin-bottom:22px; }
.new .title .more{font-size:17px; color:#727272; margin-top:14px; margin-right:8px; }
.new .title .dot{background:url(/img/tubiao.png) no-repeat -474px -90px; width:5px;height:17px; margin-top:18px;}

.new .title .hot_bg{background:url(/img/tubiao.png) -54px -120px no-repeat; width:28px; height:18px; margin-top:14px; margin-right:6px; }
.new .beauty .first{ overflow:hidden; margin-left:10px; }
.new .first img{position:absolute; top:21px; left:20px; border-radius:20px;}
.new .beauty .right{margin-top:4px; width:800px; }
.new .beauty .right li{overflow:hidden; position:relative; margin-left:15px; margin-bottom:12px; z-index:4; }

.new .beauty .right img{width:128px; height:194px; position:absolute; border-radius:10px; left:10px; top:10px; }

.new .beauty .bottom{margin-left:7px; }
.new .beauty .bottom li{overflow:hidden; margin-left:15px; margin-bottom:12px; position:relative; }
.new .beauty .bottom img{width:128px; height:194px; border-radius:10px; left:10px; top:10px; position:absolute; }


/*new hover*/
.new .right li span{z-index:5; position:absolute; top:4px; left:4px; }
.new .right li i{width:116px; height:28px; position:absolute; left:10px; top:5px; background:rgba(0,0,0,0.3);color:#fff; line-height:28px; text-align:center; z-index:3;font-style:normal; font-size:12px; padding-left:12px;border-radius:5px; display:none; }
.new .right li div{width:130px; height:44px; position:absolute; bottom:10px; left:8px; background:rgba(0,0,0,0.3); color:#fff;  font-size:12px; padding-top:14px; display:none; }
.new .right li div p{margin-left:6px; line-height:18px; }
.new .right li div b{font-weight:normal; }
.new .right li div .b1{position:absolute; bottom:8px; right:26px; background:url(/img/site.png) no-repeat; width:20px; height:25px; opacity:0.5; border-radius:20px; }

.new .right li div .b2{position:absolute; bottom:10px; right:4px; }
.new .right li:hover i{display:block; }
.new .right li:hover div{display:block; }

.new .bottom li span{z-index:5; position:absolute; top:4px; left:4px; }
.new .bottom li i{width:116px; height:28px; position:absolute; left:10px; top:5px; background:rgba(0,0,0,0.3);color:#fff; line-height:28px; text-align:center; z-index:3;font-style:normal; font-size:12px; padding-left:12px;border-radius:5px; display:none; }
.new .bottom li div{width:130px; height:44px; position:absolute; bottom:10px; left:8px; background:rgba(0,0,0,0.3); color:#fff;  font-size:12px; padding-top:14px; display:none; }
.new .bottom li div p{margin-left:6px; line-height:18px; }
.new .bottom li div b{font-weight:normal; }
.new .bottom li div .b1{position:absolute; bottom:8px; right:26px; background:url(/img/site.png) no-repeat; width:20px; height:25px; opacity:0.5; border-radius:20px; }

.new .bottom li div .b2{position:absolute; bottom:10px; right:4px; }
.new .bottom li:hover i{display:block; }
.new .bottom li:hover div{display:block; }

/*cooperation*/
.cooperation{font-size:24px; -color:#ffb671; margin-left:20px; }
.cooperation div{margin-top:24px; }
.cooperation div a{margin-right:60px; background:url(/img/tubiao.png) no-repeat;}
.cooperation .travel{ background-position:-35px -166px; width:96px; height:64px; }
.cooperation .god_goddess{background-position:-18px -285px; width:102px; height:78px; }
.cooperation .tudou{background-position:-208px -166px; width:96px; height:64px; }
.cooperation .legend{background-position:-208px -286px; width:104px; height:80px; }
.cooperation .youku{background-position:-392px -181px; width:94px; height:78px; }
.cooperation .origin{background-position:-538px -182px; width:106px; height:78px; }
.cooperation .music{background-position:-702px -183px; width:90px; height:78px; }

/*r*/
/*user*/
.user{margin-top:30px; float: right;width: 172px;height: 30px; position:relative; overflow:hidden; }
.user .hd_hov{position:absolute; right:40px; }
.user .username{width:71px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#999; font-size:14px; }
.user .username:hover{color:#bababa; }
.user .expand{background:url(../static_data/images_css/icon_geren_xiala.png); width:12px; height:7px; margin-top:6px; }
.user .expand_hov{background:url(../static_data/images_css/icon_geren_shangla_hover.png); width:12px; height:7px; margin-top:6px; }

.user .email{background:url(../static_data/images_css/icon_messages.png); width:18px; height:18px; right:8px; position:absolute; }


/*.user .username{width:71px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#4c4c4c; }
*/

/*.user .username:hover{color:#59db28}*/

.honor{position:absolute;width:350px;height: 206px;border: 1px solid #ffb671; background:url("/skin/ym/images/white.png") repeat;overflow: hidden;right:0px;  z-index: 99999;top: 28px;display: none}
.hon-header{overflow: hidden;}
.hon-title{margin-left: 16px;margin-top: 20px;font-size: 14px;}
.hon-list{padding-left: 15px;height: 120px;}
.hon-list li span{display:inline-block;width: 48px;height: 48px;margin-left: 3px;float: left;background-image:url(/img/tubiao.png);background-repeat:no-repeat;margin-top:10px;cursor: pointer }
.med1{background-position:  -444px -320px}
.med2{background-position:  -387px -320px}
.med3{background-position:  -555px -320px}
.hon-bottom >div{bottom: 10px;position:absolute}
.hon-bottom .tocenter{left:20px;color:#ffb671;}
.hon-bottom a{font-size:14px; }
.hon-bottom .logout{right:20px;}
.hon-bottom .logout:hover{color: #59db2e}
.anchor{border:2px solid #f77599; margin-top:-2px; padding:27px 12px 9px 15px; border-bottom-left-radius:12px; border-bottom-right-radius:12px; background-color: #FFffff}
.anchor_photo{margin-right:12px; }
.anchor_photo img{border:2px solid #F77599; border-radius:50%;width: 80px; height: 80px;}
.anchor_detail{margin-left:14px; }
.anchor_detail .name{font-size:16px;  margin-top:10px; margin-bottom:16px; }
.anchor_detail .value{position:relative;  margin-left:24px; }
.anchor_detail .value span{position:absolute; background:url(/img/icon_money.png) no-repeat; width:28px; height:28px; left:-30px; bottom:-6px; }
.level{margin-top:10px; }
.level .cur{margin-right:0px; }
.level .to{ }

.level .scale{width:130px; height:11px; margin-top:4px; margin-left:6px; margin-right:6px; position:relative; background:#e2e2e2; }
.level .scale .already{width:30%; height:100%; left:0; top:0; background:#f77599; }
.level .scale .distance{ color:#999; }

.be_char{margin-top:34px; }
.be_char .begin{background:#3b62db; color:#fff; text-align:center; width:116px; height:25px; line-height:25px;  margin-right:58px; border-radius: 3px;}
.be_char .ow{background: #3b62db; color:#fff; text-align:center; width:48px; height:25px; line-height:25px; border-radius: 3px;}
.anchor_info  .charge{background: #F77599; color:#fff; text-align:center; width:48px; height:22px; line-height:22px;  margin-top: 10px; border-radius: 3px;float: left; }
.achieve{margin-top:20px; color:#515151; font-size:13px; }
.division{width:246px; background:#c4c4c4; height:1px;  margin-top:6px; margin-bottom:8px; }

.medal{width:212px; height:44px; background:url(/img/tubiao.png) no-repeat -392px -324px;  position:relative; }
.medal .more{position:absolute; right:-32px; bottom:0; }
.notice{margin-top:13px; margin-left:7px; }
.notice .logo{width:21px; height:23px; background:url(/img/tubiao.png) -222px -82px  no-repeat; margin-right:6px; }
.notice .content{width:206px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-top:4px; }
/*登录注册*/
#login{overflow:none;-display:none;margin-top:-4px; }
.reg_log{margin-left:462px; margin-top:20px;float: left;  font-size:14px; color:#a46611; }
.reg_log .reg{color:#e7b28a;cursor: pointer }
.reg_log .log{cursor: pointer;}
#login .enter{padding-top:24px; padding-bottom:24px; background: #fff; padding-left:14px; border:2px solid #f77599;margin-top: 4px; border-bottom-left-radius:12px; border-bottom-right-radius:12px; border-top:1px; overflow: hidden}
#login .enter .login_im{width:222px; height:40px; line-height:40px; text-align:center; color:#fff; background-color:#f77599; display:block;font-size:18px; margin-bottom:15px; margin-left: 10px; }

#login .enter .instant_msg{overflow:hidden; display:block;margin-left:12px;  }
.instant_msg .wechat{color:#baa248;  margin-right:24px; margin-top:18px; }
.instant_msg .wechat .logo{background:url(/skin/desert/images/icon_weixin.png) no-repeat; width:29px; height:25px; margin-bottom:2px; margin-top:-5px; margin-left:10px; }
.index_login_area{margin:20px 0 0 40px;}
.klogin{margin-left: 24px;color: #333333;margin-top: 10px;}
.forgot-pass{color: #999;padding-bottom: 20px;border-bottom: 1px solid #c6ccd1;width:222px;margin-left: 10px;margin-top: 8px;}
.forgot-pass a {color: #333}

/*.instant_msg .sina{color:#baa248;  margin-top:18px; }
*/
.instant_msg .qq .qq_p{margin-left:18px; }
.instant_msg .sina .logo{background:url(/skin/desert/images/icon_weibo.png) no-repeat; width:27px; height:22px; margin-bottom:12px; margin-left:6px; }

#login .enter .register{width:222px; height:40px; line-height:40px; text-align:center; display:block; color:#7596E5; font-size:18px; border:1px solid #E7E7E7;  margin-left:10px; }
#login .enter .forget{margin-top:8px; margin-bottom:24px; }
#login .enter .forget .find_back{color:#cdb644; }
/*follow*/
.follow{height:336px; margin-top:14px; padding:12px 14px 14px 15px; border:1px solid #dedede;  background-color: #f5f5f5; border-radius:16px; box-shadow: 0 0 6px #bababa; position:relative; }

.follow_con{background-color:#fff; border-radius:12px; border:2px solid #d7d7d7; position:absolute; left:6px; top:6px; width: 262px; height: 346px; }
.follow_con .follow_tit{overflow:hidden; }
.follow h3{font-size:18px;   margin-top:7px; margin-left:9px; }
.follow .boto{background:url(/img/tubiao.png) no-repeat -165px -88px; width:32px; height:10px; display:inline-block; margin-top:8px; margin-right: 12px;}

.follow .spp{float: right;color: #666;display:inline-block; margin-top:8px; margin-right: 12px;cursor: pointer;width: 12px;height: 8px;}
.follow .spp:hover{color:#999999}
.follow .shang{background: url(/img/icon_shouye_shangla.png) no-repeat;}
.follow .shang_hover{background: url(/img/icon_shouye_shangla_hover.png) no-repeat;}
.follow .xia{background: url(/img/icon_shouye_xiala.png) no-repeat;}
.follow .xia_hover{background: url(/img/icon_shouye_xiala.png) no-repeat;}
.follow h3 span{font-weight:normal; }
.follow .list_care{ height: 288px;overflow: hidden;margin-top:12px;}
.follow .list{position: relative;top: 0}
.follow .list li{position: relative; margin-bottom: 6px;height: 52px; overflow: hidden; }
.follow .list li img{border-radius:50%; width: 52px;height: 52px; margin-left:13px; }
.follow .list li .diamond{margin-left:12px; margin-right:6px; margin-top:9px; }
.follow .list li .name{margin-top:9px; font-size:14px; }
.follow .list li p{position:absolute; top:30px; left:107px; color:#a8a8a8; }

.download{width:278px; height:174px; margin-top:18px; border:1px solid #dedede;  border-radius:16px; box-shadow: 0px 0px 6px #dedede; position:relative; background-color:#f5f5f5; }
.download_con{ background:url(../img/download.png) no-repeat; position:absolute; left:6px; top:6px; width:265px; height:160px; border-radius:12px; }


.rank{margin-top:20px; padding:16px 16px 20px 12px; border:1px solid #dedede; border-radius:16px; box-shadow: 0px 0px 6px #bababa; background-color: #F5f5f5; padding:6px; overflow: hidden}
.rank_con{border-radius:12px; background-color:#fff; border:2px solid #d7d7d7; width:261px; }
.rank_con .tit,.fans .tit{margin-top:18px; margin-left:14px; overflow:hidden; }
.rank_tit,.fans_tit,.fansTit{font-size:18px; -color:#ffb671; font-weight:normal; margin-right:33px; }  
.fans_tit{margin-right:70px; }
.rank .tit .type,.fans .tit .type{margin-top:4px; }
.rank .tit .type a,.fans .tit .type a{width:25px; height:16px; line-height:16px; text-align:center; color:#f77599; }
.rank .tit .type .active,.fans .tit .type .active{background:#3b62db; color:#fff;}
.rank .tit .type a:hover{background:#3b62db; color:#fff; }
.fans .tit .type a:hover{background:#3b62db; color:#fff; }

/*新改排行*/
.rank_list li .fir{position:relative; }

li  .crown{position:absolute; top:-15px; left:62px; width:36px; height:20px; background:url(../static_data/images_css/icon_huangguan.png); *display:none; }
.fans li .fir{position:relative; }
.fans li .fir .crown{position:absolute; top:-15px; right:10px; width:36px; height:20px; background:url(../static_data/images_css/icon_huangguan.png); }

.rank_list{margin-top:16px; }
.rank_list .rank_pho,.fans_list li img{width:52px;height:52px;border-radius:50%; float: left;}
.rank_list .diamond{ margin-top: 16px; margin-left: 8px; }
.rank_list .name{margin-top:21px; margin-left:4px; }
.rank_list li{margin-bottom:4px;position: relative; *overflow:hidden; }
.rank_list .followed{margin-bottom:6px; margin-left:17px; }

.fans{margin-top:22px; border:1px solid #dedede; border-radius:16px; box-shadow: 0 0 6px #bababa; background-color: #f5f5f5; padding:6px;  overflow: hidden}
.fans_con{ background-color: #fff; border-radius:12px; border:2px solid #d7d7d7; width:261px;  }
.fans_list .top{background:url(/img/tubiao.png) no-repeat; width:28px; height:31px; margin-left:6px; margin-right:14px; margin-top:10px; }
.fans_list .top1{ background-position:-51px -26px; width:23px; height:31px; }
.fans_list .top2{ background-position:-90px -26px; }
.fans_list .top3{ background-position:-126px -28px; }
.fans_list .followed{margin-left:17px; }
.fans_list .followed .top4{ background-position:-166px -39px; width:12px; height:16px; }

.fans_list .followed .top5{ background-position:-198px -39px; width:12px; height:20px; }

.fans_list .followed .top6{ background-position:-229px -39px; width:12px; height:20px;}

.fans_list .followed .top7{ background-position:-265px -39px; width:12px; height:20px;}

.fans_list .followed .top8{ background-position:-291px -39px; width:12px; height:20px;}
.fans_list{margin-top:16px; }


.fans_list .diamond{margin-top:18px; }
.fans_list .name{margin-top:20px; margin-left:4px; }
.fans_list li{margin-bottom:4px; }

.fans_list .followed{margin-bottom:6px; }


.footer{height:188px; width:100%; background-color:#2e2f33; color:#9b9c9e; overflow:hidden; font-size: 15px; margin-top: 32px; }
.footer .wrapper{ margin:45px auto; }
.container{ margin: 0 auto; width:582px; text-align: center; }
.relatedLink a:hover{color:#c8c9cd; }
.logo_footer{background:url(../img/logo_footer.png) no-repeat; width:132px; height:30px; }
.copyright{ margin-top: 14px; margin-bottom:14px; margin-left:38px; overflow:hidden; }
.copyrightTxt{margin-top: 8px; margin-left: 5px; }
.officialMailbox{color:#3c62e7; }
/*.footer p{text-align:center; margin-bottom:20px; }
.footer .copyright .logo_footer{background:url(../img/logo_footer.png) no-repeat; width:132px; height:30px; display:inline-block; margin-top:0px; }*/

/*协议*/
.details{background:#fbfbfb;  }
.recru_content{background:#fbfbfb; }
.recru_content h3{text-align:center; font-size:24px; margin-top:30px;margin-bottom:26px;  padding-top: 30px;}
.recru_content h2{margin-left: 30px; font-size:14px;color: #333;margin-top: 10px;font-weight: 500}
.recru_content .recruitItem{ padding-top:54px; border:2px solid #ededed;width:1202px; color:#a0a0a0; font-size:12px; margin-left:119px; margin-bottom:20px; }
.recru_content .recruitItem p{margin-left:30px; margin-right:30px;line-height:20px; }
.recru_content .recruitItem .tit{font-size:14px; color:#333; margin-top:8px; }
.recruitItem .yes_no{margin-top:36px; margin-left:366px; margin-bottom:25px; }
.recruitItem .yes_no input,.recruitItem .yes_no a{width:168px; height:50px; background:#f9ad10; color:#9d9d9d;font-size:20px; background:#f4f4f4;cursor:pointer; border:none; border-radius:3px; }
.recruitItem .yes_no .agree{margin-right:62px; background:#f9ad10;color:#fff;     text-align: center; line-height: 50px;}

/*.footer{height:100px; background:#010101; color:#fff; padding-top:74px;-margin-top:22px; }
.footer .container{margin-top:-18px; }
.footer p{text-align:center; margin-bottom:20px; }
.footer .copyright span{background:url(../img/tubiao.png) no-repeat -188px -115px; width:76px; height:28px; display:inline-block; margin-top:0px; }*/

.data_content{margin-left:260px; margin-bottom:15px; }
.progress{margin-left:442px; }
.progress .pro{width:92px; height:92px; line-height:92px; text-align:center; border-radius:50%; background:#fff; font-size:18px; color:#949494; margin-top:42px; margin-bottom:26px; border:2px solid #fff; }
.progress .sel{    background: #ffb900; color: #fff;}
.progress .arrow{background:url(../img/arrow_sign_step.png) no-repeat; width:48px; height:17px; margin-top:85px; }

.apply{font-size:20px; color:#606060; margin-bottom:12px; }
.basic{width:864px; border:2px solid #ececec; background:#fff; color:#939393; }
.basic h3{font-size:20px; color:#373737; margin-top:32px; margin-bottom:42px; text-align:center; }
.basic form >div{margin-bottom:30px; margin-left:285px; }

/*校验手机号*/
.tel label,.tel input,.tel span{float:left; }
.basic div .lable{color:#939393; font-size:12px; }
.basic div .toLeft{margin-left:22px; }

.basic .tel{margin-left:278px;overflow:hidden; }
.basic .info_num{margin-left:14px; margin-top:14px; font-size:12px; display:none; }
.basic .tel .ok{margin-left:14px; margin-top:6px; font-size:20px; font-weight:bolder; color:green;display:none; }
.basic .tel .err{margin-left:14px; margin-top:14px; font-size:12px; font-weight:bolder; color:red; display:none; }
.basic .tel .lable{margin-top:12px; }
.basic .tel.show1 span.info{display:block; }
.basic .tel.show2 span.ok{display:block; }
.basic .tel.show3 span.err{display:block; }
/*手机号校验结束*/

.basic .video{margin-left:262px; }

/*qq校验*/
.qq label,.qq input,.qq span{float:left; }
.basic .qq{margin-left:294px; overflow:hidden; }
.basic .qq .ok{margin-left:14px; margin-top:6px; font-size:20px; font-weight:bolder; color:green;display:none; }
.basic .qq .err{margin-left:14px; margin-top:14px; font-size:12px; font-weight:bolder; color:red; display:none; }
.basic .isacpt{margin-left:14px; font-size:12px; font-weight:bolder; color:red; display: none}
.basic .qq .lable{margin-top:12px; }

.basic .qq.cur1 span.info{display:block; }
.basic .qq.cur2 span.ok{display:block; }
.basic .qq.cur3 span.err{display:block; }
/*qq校验结束*/

.basic .input input{width:280px; height:42px; border:1px solid #e3e3e3; text-indent:1em; border-radius: 3px}
.basic .input input:focus{boder:1px solid #59DB28}
.basic .check{margin-left:336px; margin-top:-18px; margin-bottom:32px; }
.basic .data_next{margin-left:338px;  }
.basic .data_next input{width:166px; height:50px; font-size:20px; background:#fdbc02; color:#fff; border:none; cursor:pointer;}

.basic .area select{width:138px; height:42px; border-color: #e3e3e3;color: #939393}
.basic .area{margin-left: 288px;}
/*财务信息*/
.basic #province,.basic #banktype{margin-left:18px; width:150px; height:42px; }
.basic #city{margin-left:10px;width:120px; height:42px; }
.basic div .space{margin-left:18px; }
.basic .bank .space,.basic .num .space,.basic .id_num .space,.basic .positive .space,.basic .opposite .space,.basic .account_place .space{width:280px; height:34px; text-indent: 1em; }
.basic .bank{margin-left:276px; }
.basic .num{margin-left:264px; }
.basic .account_place{margin-left:240px; }
.hasImg{background-color: #e0e0e0}

/*校验身份证号*/
.id_num label,.id_num input,.id_num span{float:left; }

.basic .id_num{margin-left:267px;overflow:hidden; }
.basic .info_num{margin-left:14px; margin-top:14px; font-size:12px; display:none; }
.basic .id_num .ok{margin-left:14px; margin-top:6px; font-size:20px; font-weight:bolder; color:green;display:none; }
.basic .id_num .err{margin-left:14px; margin-top:14px; font-size:12px; font-weight:bolder; color:red; display:none; }
.basic .id_num .lable{margin-top:12px; }
.basic .id_num.show1 span.info{display:block; }
.basic .id_num.show2 span.ok{display:block; }
.basic .id_num.show3 span.err{display:block; }



.basic .positive{margin-left:265px; position:relative; }
.basic .opposite{margin-left:265px; position:relative;}
.basic .id_file{width:116px; height:40px; background:#FDBC16;color: #FFffff; margin-left:10px; border-radius:3px; line-height:40px; text-align:center; position:relative; cursor:pointer;}
.basic .id_file input{opacity:0; filter:alpha(opacity:0); position:absolute; left:0; top:0; width: 116px;height: 40px;cursor: pointer; }
.basic .tip{position:absolute; left:78px; top:50px; }
.basic .prev_next{margin-top:30px; font-size:18px; margin-left:344px; }
.basic .prev_next input{width:138px; height:42px; background:#fff; color:#fdbc16; border:1px solid #fdbc16; cursor:pointer; }
.basic .prev_next .next{margin-left:6px; background:#fdbc16; color:#fff; }

/*提交审核*/
.basic .right{width:36px; height:36px; background:#11cd6e; font-size:17px;color:#fff;border-radius:50%; text-align:center;line-height:36px; margin-left:414px; }
.basic .p1,.basic .p2{text-align:center; font-size:14px; }
.basic .p1{margin-bottom:17px; }

.basic .back{margin-left:360px; margin-bottom:360px; }
.basic .back input{width:138px; height:50px; font-size:20px; background:#fdbc02; color:#fff;border:none; cursor:pointer; margin-top:38px; }
i{color:#ffb900; font-style:normal; }


.photo{width:865px;height:1090px; border:2px solid #eeeeee; background:#fff; }
.photo h3{text-align:center; font-size:20px; margin-top:32px;margin-bottom:42px; }
.photo .pho_l{width:524px; height:576px; }
.photo .pho_l .l_content{margin-left:86px; }
.photo .pho_chose{width:118px; height:40px; line-height:40px; text-align:center; background:#e0e0e0; border-radius:3px; margin-bottom:10px;  position:relative; cursor:pointer; }
.photo .pho_chose input{opacity:0; filter:alpha(opacity=0;); position:absolute; left:0; top:0px; cursor:pointer; height:40px; }
.photo .pho_l .support{margin-left:8px; font-size:12px; color:#a5a5a5; margin-top:22px; }
.photo .pho_l .big_pho{width: 420px;  height: 408px; background-color: #eee; text-align: center;  line-height: 420px;position: relative}
.photo .pho_l .big_pho .img1{  max-width: 420px; max-height: 408px; }
.photo .pho_l .big_support{margin-top:138px; font-size:12px;margin-left:28px; color:#333; }
.photo .pho_l .pho_tip{font-size:12px; margin-top:4px; color:#969696;  margin-bottom:30px;  }
.photo .pho_l .portrait{width:268px; height:408px;overflow: hidden; background:#e0e0e0; }
.photo .pho_l .portrait .img2{width:268px;height: 408px;}
.photo .pho_l .use{margin-top:62px; margin-left:22px; font-size:13px; }
#file0{margin:0 auto;}
#SWFUpload_0{left: 0}
.photo .pho_l .step{margin-top:24px; }
.photo .pho_l .step input{width:138px; height:42px; color:#ffb900; border:1px solid #ffb900; background:#fff; cursor:pointer; }
.photo .pho_l .step .next{color:#fff; font-size:18px;background:#ffb900; margin-left:6px; }

.photo .div2{width: 0;height: 0;overflow: hidden}
.pho_r{overflow:hidden; width:340px; height:572px; border-left:1px solid #ccc; }
.pho_r .r_content{width:328px; height:576px; margin-left:12px; }
.r_content h4{font-size:12px; margin-top:3px; }
.r_content .pho_list{margin-top:12px; }
.r_content .pho_list li{width:132px; height:140px;border:1px solid #ccc; margin-right:14px; margin-bottom:12px;  }
.r_content .require{font-size:12px; margin-top:16px; }
.r_content .require p{margin-bottom:20px; color:#646464; }
.r_content .require span{margin-right:4px; }

/*上传图片*/

/* jquery.Jcrop.min.css v0.9.12 (build:20130126) */
.jcrop-holder{direction:ltr;text-align:left;}
.jcrop-vline,.jcrop-hline{background:#FFF url(Jcrop.gif);font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-vline.right{right:0;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle{background-color:#333;border:1px #EEE solid;font-size:1px;height:7px;width:7px;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:alpha(opacity=70)!important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:alpha(opacity=70)!important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.solid-line .jcrop-vline,.solid-line .jcrop-hline{background:#FFF;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}
