<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>蝌蚪鱼</title>
<meta name="description" content="超人气视频直播互动娱乐社区，在这里你可以展示自己的才艺，也可以跟众多优秀的美女主播在线互动聊天、视频交友" />
<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/level_l.css" />
<link rel="stylesheet" href="css/level_s.css" />
<link rel="stylesheet" href="css/big_box.css" />
<link rel="stylesheet" href="css/small_box.css" />
<script src="js/move.js"></script>
<script src="js/carousel.js"></script>
</head>
<body>
	<div class="wrapper clearFix">
    	<div class="l fl">
        	<div class="header clearFix">
                <span class="hd_bg fl"></span>
                <p class="text fl">一群制造欢乐的豆豆</p>
                <ul class="nav fl">
                    <li class="fl">首页</li>
                    <li class="fl">广场</li>
                    <li class="fl">活动</li>
                    <li class="fl">商城</li>
                    <li class="fl">排行榜</li>
                </ul>
                <div class="input fl">
                    <input type="text" placeholder="输入房间号/频道号/ID" />
                    <span class="search"></span>
                </div>
    		</div>
        
        <div id="carousel">
        	<div class="box" id="play">
                <p class="prev"></p>
                <p class="next"></p>
                
                <ul>
                    <li><a href="javascript:;"><img src="img/banner1.jpg" alt="加载中" /></a></li>
                    <li><a href="javascript:;"><img src="img/banner2.jpg" alt="加载中" /></a></li>
                    <li><a href="javascript:;"><img src="img/banner3.jpg" alt="加载中" /></a></li>
                </ul>
            </div>
            <ol id="ol">
                <li class="active"></li>
                <li></li>
                <li></li>
            </ol>
		</div>
        
        <!--hot-->
        <div class="hot">
            <div class="title clearFix">
                <span class="fl hot_bg"></span>
                <h3 class="fl">热门主播</h3>
                <a class="dot fr" href="javascript:;"></a>
                <a class="more fr" href="javascript:;">更多</a>
            </div>
            <div class="beauty">
                <ul class="clearFix">
                    <li class="first sprite_big_box biankuang-black fl">
                        <img src="img/pic_girl_01.jpg" alt=""/>
                        <span class="sprite_s pic_liverlevel_S_30"></span>
                        <i>当前人数：269</i>
                        <div>
                        	<p>很纯很暧昧</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <ul class="right fl">
                    	<li class="sprite_small_box biankuang_yellow_little fl">
                    		<img src="img/pic_girl_02.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_23"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                    	</li>
                        <li class="sprite_small_box biankuang_orange_little fl">
                    		<img src="img/pic_girl_03.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_06"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                            
                        </li>
                        <li class="sprite_small_box biankuang_size_little fl">
                            <img src="img/pic_girl_04.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_22"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_blue-little fl">
                            <img src="img/pic_girl_05.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_18"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_black_little fl">
                            <img src="img/pic_girl_03.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_11"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_black_little fl">
                    		<img src="img/pic_girl_04.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_28"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                    	</li>
                        <li class="sprite_small_box biankuang_size_little fl">
                    		<img src="img/pic_girl_01.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_09"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_yellow_little fl">
                            <img src="img/pic_girl_04.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_30"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_orange_little fl">
                            <img src="img/pic_girl_03.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_25"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_orange_little fl">
                            <img src="img/pic_girl_01.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_20"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                    </ul> 
                </ul>
                <ul class="clearFix bottom">
                	<li class="sprite_small_box biankuang_orange_little fl">
                    	<img src="img/pic_girl_02.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_size_little fl">
                    	<img src="img/pic_girl_04.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_yellow_little fl">
                    	<img src="img/pic_girl_02.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_black_little fl">
                    	<img src="img/pic_girl_04.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_orange_little fl">
                    	<img src="img/pic_girl_01.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_black_little fl">
                    	<img src="img/pic_girl_05.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_black_little fl">
                    	<img src="img/pic_girl_02.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
        
        <!--movie-->
        <div class="movie">
        	<a href="javascript:;">
            	<img src="img/movie.jpg" alt=""/>
            </a>
        </div>
        
        <!--new-->
        <div class="new">
            <div class="title clearFix">
                <span class="fl hot_bg"></span>
                <h3 class="fl">最新入住</h3>
                <a class="dot fr" href="javascript:;"></a>
                <a class="more fr" href="javascript:;">更多</a>
            </div>
            <div class="beauty">
                <ul class="clearFix">
                    <li class="first sprite_big_box biankuang-black fl">
                        <img src="img/pic_girl_02.jpg" alt=""/>
                        <span class="sprite_s pic_liverlevel_S_01"></span>
                        <i>当前人数：269</i>
                        <div>
                        	<p>很纯很暧昧</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <ul class="right fl">
                    	<li class="sprite_small_box biankuang_yellow_little fl">
                    		<img src="img/pic_girl_03.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_23"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                    	</li>
                        <li class="sprite_small_box biankuang_orange_little fl">
                    		<img src="img/pic_girl_04.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_06"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                            
                        </li>
                        <li class="sprite_small_box biankuang_size_little fl">
                            <img src="img/pic_girl_01.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_22"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_blue-little fl">
                            <img src="img/pic_girl_03.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_18"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_black_little fl">
                            <img src="img/pic_girl_05.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_11"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_black_little fl">
                    		<img src="img/pic_girl_01.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_28"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                    	</li>
                        <li class="sprite_small_box biankuang_size_little fl">
                    		<img src="img/pic_girl_03.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_09"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_yellow_little fl">

                            <img src="img/pic_girl_02.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_30"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_orange_little fl">
                            <img src="img/pic_girl_04.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_25"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                        <li class="sprite_small_box biankuang_orange_little fl">
                            <img src="img/pic_girl_01.jpg" alt="" />
                            <span class="sprite_l pic_liverlevel_L_20"></span>
                            <i>当前人数：269</i>
                            <div>
                                <p>雪梨呆呆萌</p>
                                <p>27分钟前开播</p>
                                <b class="b1"></b>
                                <b class="b2">上海</b>
                            </div>
                        </li>
                    </ul> 
                </ul>
                <ul class="clearFix bottom">
                	<li class="sprite_small_box biankuang_orange_little fl">
                    	<img src="img/pic_girl_05.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_size_little fl">
                    	<img src="img/pic_girl_04.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_yellow_little fl">
                    	<img src="img/pic_girl_03.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_black_little fl">
                    	<img src="img/pic_girl_04.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_orange_little fl">
                    	<img src="img/pic_girl_03.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_black_little fl">
                    	<img src="img/pic_girl_01.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                    <li class="sprite_small_box biankuang_black_little fl">
                    	<img src="img/pic_girl_02.jpg" alt="" />
                        <span class="sprite_l pic_liverlevel_L_22"></span>
                        <i>当前人数：269</i>
                        <div>
                            <p>雪梨呆呆萌</p>
                            <p>27分钟前开播</p>
                            <b class="b1"></b>
                            <b class="b2">上海</b>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
        
        <!--cooperation-->
        <div class="cooperation">
        	<h3>官方合作</h3>
            <div class="clearFix">
            	<span class="travel fl"></span>
            	<span class="god_goddess fl"></span>
            	<span class="tudou fl"></span>
            	<span class="legend fl"></span>
            	<span class="youku fl"></span>
            	<span class="origin fl"></span>
            	<span class="music fl"></span>
            </div>
        </div>
        </div>
        
        <div class="r fr">
        	<div id="login">
            	<div class="reg_log">
                	<span class="log">登录</span><span class="reg">/注册</span>
                </div>
                <div class="enter">
                	<a class="login_im" href="javascript:;">立即登录</a>
                    <a class="instant_msg clearFix" href="javascript:;">
                    	<div class="wechat fl">
                        	<div class="logo"></div>
                            <p>微信登录</p>
                        </div>
                        <div class="qq fl">
                        	<div class="logo"></div>
                            <p class="qq_p">QQ登录</p>
                        </div>
                        <div class="sina fl">
                        	<div class="logo"></div>
                            <p>新浪登录</p>
                        </div>
                    
                    </a>
                    <a class="register" href="javascript:;">一键注册</a>
                    <p class="forget">忘记密码？请点击这里<a class="find_back" href="javascript:;">找回</a></p>
                </div>
            </div>
        	<div class="user clearFix">
                <div class="fl">
                	<a class="username fl" href="javascript:;">小蜜桃Sasa</a>
                	<a class="user_msg fl" href="javascript:;"></a>
                </div>
                <a class="email fl" href="javascript:;"></a>
            </div>
        	<div class="anchor">
            	<div class="anchor_info clearFix">
                	<a href="javascript:;" class="anchor_photo fl">
                    	<img src="img/photo.jpg" alt=""/>
                    </a>
                    <div class="anchor_detail fl">
                    	<p class="name">小蜜桃Sasa</p>
                    	<p class="value"><span></span>4387,6768,786</p>
                    </div>
                </div>
                <div class="level clearFix">
                	<div class="cur fl"></div>
                    <div class="scale fl">
                    	<div class="already"></div>
                        <div class="distance">还差984389经验值升级到下一级</div>
                    </div>
                    
                    <div class="to fl"></div>
                </div>
                <div class="be_char clearFix">
                	<a href="javascript:;" class="begin fl">开播</a>
                    <a href="javascript:;" class="charge fl">充值</a>
                </div>
                <div class="achieve">
                	<p>获得成就</p>
                    <div class="division"></div>
                    <div class="medal">
						<a class="more" href="javascript:;">更多</a>       
                    </div>
                </div>
                
            </div>
            
            <p class="notice clearFix">
            	<span class="logo fl"></span>
                <span class="content fl">公告：某某山东黄金分割点 是的高富帅</span>
            </p>
            
            <div class="follow">
            	<div class="follow_tit clearFix">
                	<h3 class="fl">我的关注<span>(30)</span></h3>
                    <span class="boto fr"></span>
                </div>
                <ul class="list">
                	<li class="clearFix">
                    	<img class="fl" src="img/photo_title.jpg" alt="" />
                		<span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>
                        <p><span>26</span>分钟前开播</p>
                    </li>
                    <li class="clearFix">
                    	<img class="fl" src="img/photo_title.jpg" alt="" />
                		<span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>
                        <p><span>26</span>分钟前开播</p>
                    </li>
                    <li class="clearFix">
                    	<img class="fl" src="img/photo_title.jpg" alt="" />
                		<span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>
                        <p><span>26</span>分钟前开播</p>
                    </li>
                    <li class="clearFix">
                    	<img class="fl" src="img/photo_title.jpg" alt="" />
                		<span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>
                        <p><span>26</span>分钟前开播</p>
                    </li>
                    <li class="clearFix">
                    	<img class="fl" src="img/photo_title.jpg" alt="" />
                		<span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>
                        <p><span>26</span>分钟前开播</p>
                    </li>
                </ul>
            </div>
            
            <div class="download">
            </div>
            
            <div class="rank">
            	<div class="tit clearFix">
                	<h4 class="rank_tit fl">热门排行榜</h4>
                    <div class="type fl">
                    	<a href="javascript:;" class="week fl">周</a>
                        <a href="javascript:;" class="mouth fl">月</a>
                        <a href="javascript:;" class="year fl">年</a>
                        <a href="javascript:;" class="boy fl">男</a>
                        <a href="javascript:;" class="girl fl">女</a>
                    </div>
             	</div>
                <ul class="rank_list">
                	<li class="clearFix">
                    	<span class="top top1 fl"></span>
                        <img class="rank_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="clearFix">
                    	<span class="top top2 fl"></span>
                        <img class="rank_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="clearFix">
                    	<span class="top top3 fl"></span>
                        <img class="rank_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="followed clearFix">
                    	<span class="top top4 fl"></span>
                        <img class="rank_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="followed clearFix">
                    	<span class="top top5 fl"></span>
                        <img class="rank_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="followed clearFix">
                    	<span class="top top6 fl"></span>
                        <img class="rank_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="followed clearFix">
                    	<span class="top top7 fl"></span>
                        <img class="rank_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="followed clearFix">
                    	<span class="top top8 fl"></span>
                        <img class="rank_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                </ul>
            </div>
            
            <div class="fans">
            	<div class="tit">
                	<img src="img/star.jpg" alt="" />
                	<h4 class="fans_tit">最佳粉丝榜</h4>
             	</div>
                <ul class="fans_list">
                	<li class="clearFix">
                    	<span class="top top1 fl"></span>
                        <img class="fans_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="clearFix">
                    	<span class="top top2 fl"></span>
                        <img class="fans_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="clearFix">
                    	<span class="top top3 fl"></span>
                        <img class="fans_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="followed clearFix">
                    	<span class="top top4 fl"></span>
                        <img class="fans_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="followed clearFix">
                    	<span class="top top5 fl"></span>
                        <img class="fans_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="followed clearFix">
                    	<span class="top top6 fl"></span>
                        <img class="fans_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="followed clearFix">
                    	<span class="top top7 fl"></span>
                        <img class="fans_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    <li class="followed clearFix">
                    	<span class="top top8 fl"></span>
                        <img class="fans_pho fl" src="img/photo_title.jpg" alt=""/>
                        <span class="diamond fl"></span>
                        <span class="name fl">雪梨呆呆萌</span>	
                    </li>
                    
                    
                    
                
                
                </ul>
            </div>
            
        
        </div>
        
        
        
        
        
        
        
        
        
        
    </div>
    <!--footer-->
    <div class="footer">
        <div class="container">
        	<p class="copyright"><span></span>青蛙直播-Copyright©2016 沪ICP备14054721号 关于我们版权声明</p>
        <p>青蛙用户服务协议|青蛙客服电话：021-63156389|商务合作邮箱：mt@mutiantech.com</p>
        </div>
    </div>
    
</body>
</html>
