<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{$site_name}－美女主播、视频交友、美女视频、在线K歌</title>
<meta name="description" content="{$site_name}是超人气视频直播互动娱乐社区，在这里你可以展示自己的才艺，也可以跟众多优秀的美女主播在线互动聊天、视频交友" />
<meta property="qc:admins" content="5212767453465156727" />
<link href="/css/global.css" rel="stylesheet" type="text/css" />
<link href="/css/index.css" rel="stylesheet" type="text/css" />
<link href="/css/level.css?20140402" rel="stylesheet" type="text/css"/>
</head>
<body>
{include file="header.html"}
<!--内容部分-->
<div id="wrap">
	<!--左侧开始-->
	<div class="i_left">
		<!--在线信息-->
		<div class="i_l_online"><a title="有{$now_online}位朋友正在和你一起在线聊天" onclick="return false" href="javascript:void(0)">{$now_online}</a></div>
            <!--主播分类-->
			<div class="i_l_living">
            	<h1 class="i_l_living_t">正在直播</h1>
                <ul class="i_living_navs">                	
                    <li class="i_living_nav_i"><a href="list-4.html" target="_blank">超级巨星<img src="images/index/icon.gif"></a></li>
                	<li class="i_living_nav_i"><a href="list-3.html" target="_blank">明星闪耀<img src="images/index/icon.gif"></a></li>
                    <li class="i_living_nav_i"><a href="list-2.html" target="_blank">钻石红人<img src="images/index/icon.gif"></a></li>
                    <li><a href="list-1.html" target="_blank">主播新秀<img src="images/index/icon.gif"></a></li>
                </ul>
            </div>
			<!-- 热门游戏 -->
            <div class="i_l_living">
            	<h1 class="i_l_act_t">热门游戏</h1>
                <ul id="activeId" class="i_living_nav">
					<li class="i_living_nav_i"><a target="_blank" href="/news/10.html">鸡同鸭讲<img src="images/index/icon.gif"></a></li>
					<li class="i_living_nav_i"><a target="_blank" href="/news/11.html">幸运转盘<img src="images/index/icon.gif"></a></li>
					<li class="i_living_nav_i"><a target="_blank" href="/news/12.html">深海捕鱼<img src="images/index/icon.gif"></a></li>
					<li class="i_living_nav_i"><a target="_blank" href="/news/13.html">大家一起来斗牛<img src="images/index/icon.gif"></a></li>
					<li><a target="_blank" href="/news/14.html">免费赚{$money_name}<img src="images/index/icon.gif"></a></li>
				</ul>
            </div>
            
            <!-- 我的热捧 -->
            
		        <!--div class="i_l_living i_not_login">您还未登录,先去主播房间<br>
		        <a target="_blank" href="index!getRandomAnchor.jspa">随便逛逛</a></div-->
		    
			
			<!-- 联系我们 -->
			<div class="i_l_living">
				<h1 class="i_l_content_t">联系我们</h1>
					<ul class="i_l_content">
						<li>在线客服：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3166702&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="客服" alt="客服" src="http://wpa.qq.com/pa?p=2:3166702:45"></a><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3166702&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="客服" alt="客服" src="http://wpa.qq.com/pa?p=2:3166702:45"></a></li>
						<li>主播招募：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3166702&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="客服" alt="客服" src="http://wpa.qq.com/pa?p=2:3166702:45"></a><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3166702&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="客服" alt="客服" src="http://wpa.qq.com/pa?p=2:3166702:45"></a></li>
						<li>代理招募：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3166702&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="客服" alt="客服" src="http://wpa.qq.com/pa?p=2:3166702:45"></a><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3166702&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="66" alt="66" src="http://wpa.qq.com/pa?p=2:3166702:45"></a></li>
						<li>家族进驻：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3166702&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="客服" alt="客服" src="http://wpa.qq.com/pa?p=2:3166702:45"></a><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3166702&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="客服" alt="客服" src="http://wpa.qq.com/pa?p=2:3166702:45"></a></li>                  
						<li>商务合作：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3166702&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="客服" alt="客服" src="http://wpa.qq.com/pa?p=2:3166702:41"></a></li>
						<li>热线电话：<font class="i_l_content_font">400-000-000</font></li>
					</ul>
			</div>        
	</div><!--左侧结束-->
	<!--中间开始-->
	<div class="i_center_list">
		<ul id="room_list">
			{foreach from=$shows item=show}
				<li>
					<a href="/{$show.roomnumber}.html" target="_blank">
						<img width="130" height="97" border="0" src="/static_data/showcover/thumb200x150_{$show.showcover}">
						{if $show.endtime!=""}
						<!--直播状态：已经停止--><b class="live"></b><!--直播状态：已经停止-->
						{else}
						<!--直播状态：直播中--><b class="liveing"></b><!--直播状态：直播中-->
						{/if}
						
					</a>
					<div class="online">
						<img class="star{$show.starlevel} fl" src="images/pixel.gif" />
						<span class="fl name">{$show.nickname}</span>
					</div>
					<p class="c6">
						<span class="zhiye fl">当前在线</span>
						<span class="rshu fl"><em>{$show.viewernum}</em>人</span>
					</p>
				</li>
			{/foreach}
		</ul>
	</div>
	<div class="clear"></div>
</div>
{include file="footer.html"}
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/login.js"></script>
<script>
{literal}
var a=0;
$(".task_title").click(function(){
	if(a==0){
	$(".task_main").show();	a=1;}						
	else if(a==1){
	$(".task_main").hide();	a=0;}
$(".taskboxclose").click(function(){
 $(".task_main").hide(); a=0;})
})
function taskshow(b)
{
	for(var i=1; i<=6; i++){
		if(i!=b){
		$("#task_"+i).hide();
		}
		$("#task_"+b).show();
	}
}

function taskhide(c)
{
	$("#task_"+c).hide();
}
{/literal}
</script>
</body>
</html>
