	
<h2 class="order-title">
    	<p class="cl vm"><em class="fl">明星排行</em><a class="fr more-font f12" target="_blank" href="/?action=700001">更多 >></a></p>
    </h2>
	<div class="ranklist">
		<div class="item">
			<a href="javascript:void(0)" class="active showerbtn" id="showbtn0">日榜</a>
			<a class="showerbtn" id="showbtn1" href="javascript:void(0)">周榜</a><a class="showerbtn" id="showbtn2" href="javascript:void(0)">月榜</a>
			<a class="showerbtn" id="showbtn3" href="javascript:void(0)">总榜</a>
		</div>
		<div class="rankcont" style="display:block" id="showerorder0">
			<ul class="i_r_gift_list">
						<ol>
			<li class="i_r_income_num">1</li>
			<li class="i_r_income_name"><a href="/88878.html" target="_blank">嚤劦寶貝</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star20"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">2</li>
			<li class="i_r_income_name"><a href="/10182617.html" target="_blank">『笑love笑』</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star16"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">3</li>
			<li class="i_r_income_name"><a href="/888888.html" target="_blank">烽火戏诸侯</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star24"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">4</li>
			<li class="i_r_income_name"><a href="/10044468.html" target="_blank"> 沐沐</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star11"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">5</li>
			<li class="i_r_income_name"><a href="/10033044.html" target="_blank">80235</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star2"></li>
			</ol>
						</ul>
		</div>
		<div class="rankcont" id="showerorder1">
			<ul class="i_r_gift_list">
						<ol>
			<li class="i_r_income_num">1</li>
			<li class="i_r_income_name"><a href="/88878.html" target="_blank">嚤劦寶貝</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star20"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">2</li>
			<li class="i_r_income_name"><a href="/10182617.html" target="_blank">『笑love笑』</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star16"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">3</li>
			<li class="i_r_income_name"><a href="/888888.html" target="_blank">烽火戏诸侯</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star24"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">4</li>
			<li class="i_r_income_name"><a href="/10044468.html" target="_blank"> 沐沐</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star11"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">5</li>
			<li class="i_r_income_name"><a href="/10000000.html" target="_blank">神秘人XXX</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star17"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">6</li>
			<li class="i_r_income_name"><a href="/600077.html" target="_blank">✿゛火舞丨道筱萱☠ </a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star16"></li>
			</ol>
						</ul>
		</div>
		<div class="rankcont" id="showerorder2">
			<ul class="i_r_gift_list">
						<ol>
			<li class="i_r_income_num">1</li>
			<li class="i_r_income_name"><a href="/888888.html" target="_blank">烽火戏诸侯</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star24"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">2</li>
			<li class="i_r_income_name"><a href="/88878.html" target="_blank">嚤劦寶貝</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star20"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">3</li>
			<li class="i_r_income_name"><a href="/10000000.html" target="_blank">神秘人XXX</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star17"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">4</li>
			<li class="i_r_income_name"><a href="/10033030.html" target="_blank">哎呦真巧啊</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star17"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">5</li>
			<li class="i_r_income_name"><a href="/10182617.html" target="_blank">『笑love笑』</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star16"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">6</li>
			<li class="i_r_income_name"><a href="/10053478.html" target="_blank">特唯念</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star15"></li>
			</ol>
						</ul>
		</div>
		<div class="rankcont" id="showerorder3">
			<ul class="i_r_gift_list">
						<ol>
			<li class="i_r_income_num">1</li>
			<li class="i_r_income_name"><a href="/888888.html" target="_blank">烽火戏诸侯</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star24"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">2</li>
			<li class="i_r_income_name"><a href="/88878.html" target="_blank">嚤劦寶貝</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star20"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">3</li>
			<li class="i_r_income_name"><a href="/10000000.html" target="_blank">神秘人XXX</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star17"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">4</li>
			<li class="i_r_income_name"><a href="/10033030.html" target="_blank">哎呦真巧啊</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star17"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">5</li>
			<li class="i_r_income_name"><a href="/600077.html" target="_blank">✿゛火舞丨道筱萱☠ </a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star16"></li>
			</ol>
						<ol>
			<li class="i_r_income_num">6</li>
			<li class="i_r_income_name"><a href="/10182617.html" target="_blank">『笑love笑』</a></li>
			<li class="i_r_income_img"><img src="/images/pixel.gif" class="star16"></li>
			</ol>
						</ul>
		</div>
	</div>
	<h2 class="order-title">
            	<p class="cl vm"><em class="fl">富豪排行</em><a class="fr more-font f12" target="_blank" href="/?action=700001">更多 >></a></p>
    </h2>
  <div class="ranklist">
	<div class="item">
		<a href="javascript:void(0)" class="richerbtn active" id="richbtn0">日榜</a>
		<a href="javascript:void(0)" class="richerbtn" id="richbtn1">周榜</a>
		<a href="javascript:void(0)" class="richerbtn" id="richbtn2">月榜</a>
		<a href="javascript:void(0)" class="richerbtn" id="richbtn3">总榜</a>
	</div>
	<div class="rankcont" style="display:block" id="richerorder0">
		<ul class="i_r_gift_list">
				<ol>
		<li class="i_r_income_num">1</li>
		<li class="i_r_income_name">嚤劦寶貝</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich19"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">2</li>
		<li class="i_r_income_name">烽火戏诸侯</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich25"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">3</li>
		<li class="i_r_income_name">『笑love笑』</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich13"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">4</li>
		<li class="i_r_income_name">5206</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich11"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">5</li>
		<li class="i_r_income_name">52014</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich11"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">6</li>
		<li class="i_r_income_name">lmtbf</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich11"></li>
		</ol>
				</ul>
	</div>
	<div class="rankcont" id="richerorder1">
		<ul class="i_r_gift_list">
				<ol>
		<li class="i_r_income_num">1</li>
		<li class="i_r_income_name">嚤劦寶貝</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich19"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">2</li>
		<li class="i_r_income_name">『笑love笑』</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich13"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">3</li>
		<li class="i_r_income_name">烽火戏诸侯</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich25"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">4</li>
		<li class="i_r_income_name">小虎</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich11"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">5</li>
		<li class="i_r_income_name">5205</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich11"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">6</li>
		<li class="i_r_income_name">52013</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich11"></li>
		</ol>
				</ul>
	</div>
	<div class="rankcont" id="richerorder2">
		<ul class="i_r_gift_list">
				<ol>
		<li class="i_r_income_num">1</li>
		<li class="i_r_income_name">烽火戏诸侯</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich25"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">2</li>
		<li class="i_r_income_name">嚤劦寶貝</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich19"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">3</li>
		<li class="i_r_income_name">神秘人XXX</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich18"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">4</li>
		<li class="i_r_income_name">哎呦真巧啊</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich17"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">5</li>
		<li class="i_r_income_name">特唯念</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich16"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">6</li>
		<li class="i_r_income_name">1S55</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich14"></li>
		</ol>
				</ul>
	</div>
	<div class="rankcont" id="richerorder3">
		<ul class="i_r_gift_list">
				<ol>
		<li class="i_r_income_num">1</li>
		<li class="i_r_income_name">烽火戏诸侯</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich25"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">2</li>
		<li class="i_r_income_name">嚤劦寶貝</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich19"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">3</li>
		<li class="i_r_income_name">神秘人XXX</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich18"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">4</li>
		<li class="i_r_income_name">哎呦真巧啊</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich17"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">5</li>
		<li class="i_r_income_name">特唯念</li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich16"></li>
		</ol>
				<ol>
		<li class="i_r_income_num">6</li>
		<li class="i_r_income_name">✿゛火舞丨道筱萱☠ </li>
		<li class="i_r_income_img"><img src="/images/pixel.gif" class="rich14"></li>
		</ol>
				</ul>
	</div>
  </div>
