/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:15052b47e52c76b40dfb2135d72cf76d:99cd5e0d20a7be4f4efeeb30a79d201f:f1ca9f615efd41ee6d583ace452461d3$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icons.png);}

.activelevel-pic_activelevel_1 {width:32px; height:20px; background-position: -37px -1973px}
.activelevel-pic_activelevel_10 {width:32px; height:20px; background-position: -71px -1973px}
.activelevel-pic_activelevel_11 {width:32px; height:20px; background-position: -1px -1995px}
.activelevel-pic_activelevel_12 {width:32px; height:20px; background-position: -35px -1995px}
.activelevel-pic_activelevel_13 {width:32px; height:20px; background-position: -69px -1995px}
.activelevel-pic_activelevel_14 {width:32px; height:20px; background-position: -1px -2017px}
.activelevel-pic_activelevel_15 {width:32px; height:20px; background-position: -35px -2017px}
.activelevel-pic_activelevel_16 {width:32px; height:20px; background-position: -69px -2017px}
.activelevel-pic_activelevel_17 {width:32px; height:20px; background-position: -55px -1291px}
.activelevel-pic_activelevel_18 {width:32px; height:20px; background-position: -55px -1313px}
.activelevel-pic_activelevel_19 {width:32px; height:20px; background-position: -55px -1335px}
.activelevel-pic_activelevel_2 {width:32px; height:20px; background-position: -55px -1357px}
.activelevel-pic_activelevel_20 {width:32px; height:20px; background-position: -55px -1379px}
.activelevel-pic_activelevel_21 {width:32px; height:20px; background-position: -55px -1401px}
.activelevel-pic_activelevel_22 {width:32px; height:20px; background-position: -55px -1423px}
.activelevel-pic_activelevel_23 {width:32px; height:20px; background-position: -55px -1445px}
.activelevel-pic_activelevel_24 {width:32px; height:20px; background-position: -55px -1467px}
.activelevel-pic_activelevel_25 {width:32px; height:20px; background-position: -55px -1489px}
.activelevel-pic_activelevel_26 {width:32px; height:20px; background-position: -55px -1511px}
.activelevel-pic_activelevel_27 {width:32px; height:20px; background-position: -55px -1533px}
.activelevel-pic_activelevel_28 {width:32px; height:20px; background-position: -55px -1555px}
.activelevel-pic_activelevel_29 {width:32px; height:20px; background-position: -55px -1577px}
.activelevel-pic_activelevel_3 {width:32px; height:20px; background-position: -55px -1599px}
.activelevel-pic_activelevel_30 {width:32px; height:20px; background-position: -55px -1621px}
.activelevel-pic_activelevel_4 {width:32px; height:20px; background-position: -55px -1643px}
.activelevel-pic_activelevel_5 {width:32px; height:20px; background-position: -55px -1665px}
.activelevel-pic_activelevel_6 {width:32px; height:20px; background-position: -55px -1687px}
.activelevel-pic_activelevel_7 {width:32px; height:20px; background-position: -55px -1709px}
.activelevel-pic_activelevel_8 {width:32px; height:20px; background-position: -55px -1731px}
.activelevel-pic_activelevel_9 {width:32px; height:20px; background-position: -55px -1753px}
.consumelevel-pic_consumelevel_1 {width:52px; height:20px; background-position: -1px -1291px}
.consumelevel-pic_consumelevel_10 {width:52px; height:20px; background-position: -1px -1313px}
.consumelevel-pic_consumelevel_11 {width:52px; height:20px; background-position: -1px -1335px}
.consumelevel-pic_consumelevel_12 {width:52px; height:20px; background-position: -1px -1357px}
.consumelevel-pic_consumelevel_13 {width:52px; height:20px; background-position: -1px -1379px}
.consumelevel-pic_consumelevel_14 {width:52px; height:20px; background-position: -1px -1401px}
.consumelevel-pic_consumelevel_15 {width:52px; height:20px; background-position: -1px -1423px}
.consumelevel-pic_consumelevel_16 {width:52px; height:20px; background-position: -1px -1445px}
.consumelevel-pic_consumelevel_17 {width:52px; height:20px; background-position: -1px -1467px}
.consumelevel-pic_consumelevel_18 {width:52px; height:20px; background-position: -1px -1489px}
.consumelevel-pic_consumelevel_19 {width:52px; height:20px; background-position: -1px -1511px}
.consumelevel-pic_consumelevel_2 {width:52px; height:20px; background-position: -1px -1533px}
.consumelevel-pic_consumelevel_20 {width:52px; height:20px; background-position: -1px -1555px}
.consumelevel-pic_consumelevel_21 {width:52px; height:20px; background-position: -1px -1577px}
.consumelevel-pic_consumelevel_22 {width:52px; height:20px; background-position: -1px -1599px}
.consumelevel-pic_consumelevel_23 {width:52px; height:20px; background-position: -1px -1621px}
.consumelevel-pic_consumelevel_24 {width:52px; height:20px; background-position: -1px -1643px}
.consumelevel-pic_consumelevel_25 {width:52px; height:20px; background-position: -1px -1665px}
.consumelevel-pic_consumelevel_26 {width:52px; height:20px; background-position: -1px -1687px}
.consumelevel-pic_consumelevel_27 {width:52px; height:20px; background-position: -1px -1709px}
.consumelevel-pic_consumelevel_28 {width:52px; height:20px; background-position: -1px -1731px}
.consumelevel-pic_consumelevel_29 {width:52px; height:20px; background-position: -1px -1753px}
.consumelevel-pic_consumelevel_3 {width:52px; height:20px; background-position: -1px -1775px}
.consumelevel-pic_consumelevel_30 {width:52px; height:20px; background-position: -1px -1797px}
.consumelevel-pic_consumelevel_4 {width:52px; height:20px; background-position: -1px -1819px}
.consumelevel-pic_consumelevel_5 {width:52px; height:20px; background-position: -1px -1841px}
.consumelevel-pic_consumelevel_6 {width:52px; height:20px; background-position: -1px -1863px}
.consumelevel-pic_consumelevel_7 {width:52px; height:20px; background-position: -1px -1885px}
.consumelevel-pic_consumelevel_8 {width:52px; height:20px; background-position: -1px -1907px}
.consumelevel-pic_consumelevel_9 {width:52px; height:20px; background-position: -1px -1929px}
.guanli-pic_guanli_1 {width:34px; height:20px; background-position: -1px -1951px}
.guanli-pic_guanli_2 {width:34px; height:20px; background-position: -37px -1951px}
.guanli-pic_guanli_3 {width:34px; height:20px; background-position: -1px -1973px}
.guardlevel-pic_guardlevel_L_1 {width:70px; height:84px; background-position: -1px -1px}
.guardlevel-pic_guardlevel_L_10 {width:70px; height:84px; background-position: -1px -87px}
.guardlevel-pic_guardlevel_L_11 {width:70px; height:84px; background-position: -1px -173px}
.guardlevel-pic_guardlevel_L_12 {width:70px; height:84px; background-position: -1px -259px}
.guardlevel-pic_guardlevel_L_13 {width:70px; height:84px; background-position: -1px -345px}
.guardlevel-pic_guardlevel_L_14 {width:70px; height:84px; background-position: -1px -431px}
.guardlevel-pic_guardlevel_L_15 {width:70px; height:84px; background-position: -1px -517px}
.guardlevel-pic_guardlevel_L_2 {width:70px; height:84px; background-position: -1px -603px}
.guardlevel-pic_guardlevel_L_3 {width:70px; height:84px; background-position: -1px -689px}
.guardlevel-pic_guardlevel_L_4 {width:70px; height:84px; background-position: -1px -775px}
.guardlevel-pic_guardlevel_L_5 {width:70px; height:84px; background-position: -1px -861px}
.guardlevel-pic_guardlevel_L_6 {width:70px; height:84px; background-position: -1px -947px}
.guardlevel-pic_guardlevel_L_7 {width:70px; height:84px; background-position: -1px -1033px}
.guardlevel-pic_guardlevel_L_8 {width:70px; height:84px; background-position: -1px -1119px}
.guardlevel-pic_guardlevel_L_9 {width:70px; height:84px; background-position: -1px -1205px}
.guardlevel-pic_guardlevel_S_1 {width:32px; height:20px; background-position: -55px -1775px}
.guardlevel-pic_guardlevel_S_10 {width:32px; height:20px; background-position: -55px -1797px}
.guardlevel-pic_guardlevel_S_11 {width:32px; height:20px; background-position: -55px -1819px}
.guardlevel-pic_guardlevel_S_12 {width:32px; height:20px; background-position: -55px -1841px}
.guardlevel-pic_guardlevel_S_13 {width:32px; height:20px; background-position: -55px -1863px}
.guardlevel-pic_guardlevel_S_14 {width:32px; height:20px; background-position: -55px -1885px}
.guardlevel-pic_guardlevel_S_15 {width:32px; height:20px; background-position: -55px -1907px}
.guardlevel-pic_guardlevel_S_2 {width:32px; height:20px; background-position: -73px -1929px}
.guardlevel-pic_guardlevel_S_3 {width:32px; height:20px; background-position: -73px -1951px}
.guardlevel-pic_guardlevel_S_4 {width:32px; height:20px; background-position: -73px -1px}
.guardlevel-pic_guardlevel_S_5 {width:32px; height:20px; background-position: -73px -23px}
.guardlevel-pic_guardlevel_S_6 {width:32px; height:20px; background-position: -73px -45px}
.guardlevel-pic_guardlevel_S_7 {width:32px; height:20px; background-position: -73px -67px}
.guardlevel-pic_guardlevel_S_8 {width:32px; height:20px; background-position: -73px -89px}
.guardlevel-pic_guardlevel_S_9 {width:32px; height:20px; background-position: -73px -111px}
.liverlevel-pic_liverlevel_1 {width:32px; height:20px; background-position: -73px -133px}
.liverlevel-pic_liverlevel_10 {width:32px; height:20px; background-position: -73px -155px}
.liverlevel-pic_liverlevel_11 {width:32px; height:20px; background-position: -73px -177px}
.liverlevel-pic_liverlevel_12 {width:32px; height:20px; background-position: -73px -199px}
.liverlevel-pic_liverlevel_13 {width:32px; height:20px; background-position: -73px -221px}
.liverlevel-pic_liverlevel_14 {width:32px; height:20px; background-position: -73px -243px}
.liverlevel-pic_liverlevel_15 {width:32px; height:20px; background-position: -73px -265px}
.liverlevel-pic_liverlevel_16 {width:32px; height:20px; background-position: -73px -287px}
.liverlevel-pic_liverlevel_17 {width:32px; height:20px; background-position: -73px -309px}
.liverlevel-pic_liverlevel_18 {width:32px; height:20px; background-position: -73px -331px}
.liverlevel-pic_liverlevel_19 {width:32px; height:20px; background-position: -73px -353px}
.liverlevel-pic_liverlevel_2 {width:32px; height:20px; background-position: -73px -375px}
.liverlevel-pic_liverlevel_20 {width:32px; height:20px; background-position: -73px -397px}
.liverlevel-pic_liverlevel_21 {width:32px; height:20px; background-position: -73px -419px}
.liverlevel-pic_liverlevel_22 {width:32px; height:20px; background-position: -73px -441px}
.liverlevel-pic_liverlevel_23 {width:32px; height:20px; background-position: -73px -463px}
.liverlevel-pic_liverlevel_24 {width:32px; height:20px; background-position: -73px -485px}
.liverlevel-pic_liverlevel_25 {width:32px; height:20px; background-position: -73px -507px}
.liverlevel-pic_liverlevel_26 {width:32px; height:20px; background-position: -73px -529px}
.liverlevel-pic_liverlevel_27 {width:32px; height:20px; background-position: -73px -551px}
.liverlevel-pic_liverlevel_28 {width:32px; height:20px; background-position: -73px -573px}
.liverlevel-pic_liverlevel_29 {width:32px; height:20px; background-position: -73px -595px}
.liverlevel-pic_liverlevel_3 {width:32px; height:20px; background-position: -73px -617px}
.liverlevel-pic_liverlevel_30 {width:32px; height:20px; background-position: -73px -639px}
.liverlevel-pic_liverlevel_4 {width:32px; height:20px; background-position: -73px -661px}
.liverlevel-pic_liverlevel_5 {width:32px; height:20px; background-position: -73px -683px}
.liverlevel-pic_liverlevel_6 {width:32px; height:20px; background-position: -73px -705px}
.liverlevel-pic_liverlevel_7 {width:32px; height:20px; background-position: -73px -727px}
.liverlevel-pic_liverlevel_8 {width:32px; height:20px; background-position: -73px -749px}
.liverlevel-pic_liverlevel_9 {width:32px; height:20px; background-position: -73px -771px}
.relationlevel-pic_relationlevel_1 {width:32px; height:20px; background-position: -73px -793px}
.relationlevel-pic_relationlevel_10 {width:32px; height:20px; background-position: -73px -815px}
.relationlevel-pic_relationlevel_11 {width:32px; height:20px; background-position: -73px -837px}
.relationlevel-pic_relationlevel_12 {width:32px; height:20px; background-position: -73px -859px}
.relationlevel-pic_relationlevel_13 {width:32px; height:20px; background-position: -73px -881px}
.relationlevel-pic_relationlevel_14 {width:32px; height:20px; background-position: -73px -903px}
.relationlevel-pic_relationlevel_15 {width:32px; height:20px; background-position: -73px -925px}
.relationlevel-pic_relationlevel_16 {width:32px; height:20px; background-position: -73px -947px}
.relationlevel-pic_relationlevel_17 {width:32px; height:20px; background-position: -73px -969px}
.relationlevel-pic_relationlevel_18 {width:32px; height:20px; background-position: -73px -991px}
.relationlevel-pic_relationlevel_19 {width:32px; height:20px; background-position: -73px -1013px}
.relationlevel-pic_relationlevel_2 {width:32px; height:20px; background-position: -73px -1035px}
.relationlevel-pic_relationlevel_20 {width:32px; height:20px; background-position: -73px -1057px}
.relationlevel-pic_relationlevel_21 {width:32px; height:20px; background-position: -73px -1079px}
.relationlevel-pic_relationlevel_22 {width:32px; height:20px; background-position: -73px -1101px}
.relationlevel-pic_relationlevel_23 {width:32px; height:20px; background-position: -73px -1123px}
.relationlevel-pic_relationlevel_24 {width:32px; height:20px; background-position: -73px -1145px}
.relationlevel-pic_relationlevel_25 {width:32px; height:20px; background-position: -73px -1167px}
.relationlevel-pic_relationlevel_26 {width:32px; height:20px; background-position: -73px -1189px}
.relationlevel-pic_relationlevel_27 {width:32px; height:20px; background-position: -73px -1211px}
.relationlevel-pic_relationlevel_28 {width:32px; height:20px; background-position: -73px -1233px}
.relationlevel-pic_relationlevel_29 {width:32px; height:20px; background-position: -73px -1255px}
.relationlevel-pic_relationlevel_3 {width:32px; height:20px; background-position: -89px -1277px}
.relationlevel-pic_relationlevel_30 {width:32px; height:20px; background-position: -89px -1299px}
.relationlevel-pic_relationlevel_31 {width:32px; height:20px; background-position: -89px -1321px}
.relationlevel-pic_relationlevel_32 {width:32px; height:20px; background-position: -89px -1343px}
.relationlevel-pic_relationlevel_33 {width:32px; height:20px; background-position: -89px -1365px}
.relationlevel-pic_relationlevel_34 {width:32px; height:20px; background-position: -89px -1387px}
.relationlevel-pic_relationlevel_35 {width:32px; height:20px; background-position: -89px -1409px}
.relationlevel-pic_relationlevel_36 {width:32px; height:20px; background-position: -89px -1431px}
.relationlevel-pic_relationlevel_37 {width:32px; height:20px; background-position: -89px -1453px}
.relationlevel-pic_relationlevel_38 {width:32px; height:20px; background-position: -89px -1475px}
.relationlevel-pic_relationlevel_39 {width:32px; height:20px; background-position: -89px -1497px}
.relationlevel-pic_relationlevel_4 {width:32px; height:20px; background-position: -89px -1519px}
.relationlevel-pic_relationlevel_40 {width:32px; height:20px; background-position: -89px -1541px}
.relationlevel-pic_relationlevel_41 {width:32px; height:20px; background-position: -89px -1563px}
.relationlevel-pic_relationlevel_42 {width:32px; height:20px; background-position: -89px -1585px}
.relationlevel-pic_relationlevel_43 {width:32px; height:20px; background-position: -89px -1607px}
.relationlevel-pic_relationlevel_44 {width:32px; height:20px; background-position: -89px -1629px}
.relationlevel-pic_relationlevel_45 {width:32px; height:20px; background-position: -89px -1651px}
.relationlevel-pic_relationlevel_46 {width:32px; height:20px; background-position: -89px -1673px}
.relationlevel-pic_relationlevel_47 {width:32px; height:20px; background-position: -89px -1695px}
.relationlevel-pic_relationlevel_48 {width:32px; height:20px; background-position: -89px -1717px}
.relationlevel-pic_relationlevel_49 {width:32px; height:20px; background-position: -89px -1739px}
.relationlevel-pic_relationlevel_5 {width:32px; height:20px; background-position: -89px -1761px}
.relationlevel-pic_relationlevel_50 {width:32px; height:20px; background-position: -89px -1783px}
.relationlevel-pic_relationlevel_6 {width:32px; height:20px; background-position: -89px -1805px}
.relationlevel-pic_relationlevel_7 {width:32px; height:20px; background-position: -89px -1827px}
.relationlevel-pic_relationlevel_8 {width:32px; height:20px; background-position: -89px -1849px}
.relationlevel-pic_relationlevel_9 {width:32px; height:20px; background-position: -89px -1871px}
