<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" href="css/style.css"/>
<link rel="stylesheet" href="css/charge.css"/>
<script src="js/jquery-1.7.2.js"></script>
<script src="js/style.js"></script>
</head>

<body>


<div class="head-outer btline">
    <div class="header clearFix">
        <a class="hd_bg fl" href="/"></a>
        <p class="text fl">一群制造欢乐的豆豆</p>
        <ul class="nav fl">
            <li class="fl {if $current_page=='index'}cu{/if}"><a href="/">首页</a></li>
            <li class="fl {if $current_page=='square'}cu{/if}"><a href="/square.php">广场</a> </li>
            <li class="fl {if $current_page=='active'}cu{/if}"><a href="/square.php">活动</a> </li>
            <li class="fl {if $current_page=='mall'}cu{/if}"><a href="/mall.php">商城</a> </li>
            <li class="fl {if $current_page=='order'}cu{/if}"><a href="/orders.php">排行榜</a> </li>

        </ul>
        <div class="input fl">
            <input type="text" placeholder="输入房间号/频道号/ID" />
            <span class="search"></span>
        </div>

    <div class="user clearFix">
        <div class="fl hd_hov">
            <a class="username fl" href="centeros.php">名字名字名字</a>
            <a class="expand fl" id="expand" href="javascript:;"></a>
        </div>
        <a class="email fl" href="javascript:;"></a>
        
    </div>

    </div>
</div>

<div class="recharge">
	<div class="wrapper">
    	<div class="char_tit">
        	<div class="clearFix">
            	<span class="sprite_char icon_hot fl"></span>
                <h3 class="fl">充值逗币</h3>
                <span class="rest">
                	<i>账户余额 <strong>0</strong> k豆</i>
                </span>
            </div>
        	<p><span>用户昵称：</span><i>名字名字</i><b>(QQ登录)</b></p>
        </div>
        <div class="char_details">
        	<div class="fl">
            	<div class="amount clearFix">
                    <h3 class="fl">充值金额:</h3>
                    <ul class="fl amoLi">
                        <li class="fl clickBg">
                        	<p>10元</p>
                            <span>50000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>50元</p>
                            <span>5000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>100元</p>
                            <span>100000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>200元</p>
                            <span>20000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>300元</p>
                            <span>30000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>500元</p>
                            <span>50000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>800元</p>
                            <span>80000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>1000元</p>
                            <span>100000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>2000元</p>
                            <span>200000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>3000元</p>
                            <span>300000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>5000元</p>
                            <span>500000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>8000元</p>
                            <span>800000000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>10000元</p>
                            <span>1000000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>20000元</p>
                            <span>20000000逗币</span>
                        </li>
                        <li class="fl">
                        	<p>30000元</p>
                            <span>30000000逗币</span>
                        </li>
                        
                        
                    
                    </ul>
                
                
                </div>
                
            	<div class="charWay ">
            	<div class="wayLi clearFix">
                	<h3 class="fl">支付方式:</h3>
                    <div class="fl wayBank">
                    	<ul class="clearFix ways">
                            <li class="fl sprite_char bank_17 cli"></li>
                            <li class="fl sprite_char bank_18"></li>
                            <li class="fl sprite_char bank_21"></li>
                            <li class="fl sprite_char bank_20"></li>
                            <li class="fl sprite_char bank_19"></li>
                        </ul>
                        
                        <ul class="banks clearFix">
                            <li class="fl sprite_char bank_16"></li>
                            <li class="fl sprite_char bank_15"></li>
                            <li class="fl sprite_char bank_04"></li>
                            <li class="fl sprite_char bank_14"></li>
                            <li class="fl sprite_char bank_01"></li>
                            <li class="fl sprite_char bank_03"></li>
                            <li class="fl sprite_char bank_02"></li>
                            <li class="fl sprite_char bank_11"></li>
                            <li class="fl sprite_char bank_05"></li>
                            <li class="fl sprite_char bank_06"></li>
                            <li class="fl sprite_char bank_07"></li>
                            <li class="fl sprite_char bank_09"></li>
                            <li class="fl sprite_char bank_08"></li>
                            <li class="fl sprite_char bank_12"></li>
                            <li class="fl sprite_char bank_10"></li>
                            <li class="fl sprite_char bank_13"></li>
                            
                        </ul>
                        
                        <p>实付金额：<i>200</i>元(200000星币)</p>
                        <input class="imChar" type="button" value="立即充值"/>
                    
                    </div>
                </div>
                
                
            
            
            </div>
            </div>
            <div class="fr char_explain">
            	<h3 class="expl">充值说明</h3>	
                <div class="exp">
                	<p>1元=1000星币</p>
                    <p>星币是您在本平台消费的虚拟货币，您可以通过充值获得，也可手动添加充值金额。</p>
                </div>
                <h3 class="act">您可到直播间进行：</h3>
                <ul>
                	<li class="clearFix">
                    	<span class="fl"></span>
                        <p class="fl">送礼物</p>
                    </li>
                	<li class="clearFix">
                   		<span class="fl"></span>
                        <p class="fl">点歌</p>                
                    </li>
                	<li class="clearFix">
                    	<span class="fl"></span>
                        <p class="fl">与明星进行互动</p>
                    </li>
                	<li class="clearFix">
                    	<span class="fl"></span>
                        <p class="fl">消费</p>
                    </li>
                	<li class="clearFix">
                    	<span class="fl"></span>
                        <p class="fl">可以帮自己升级</p>
                    </li>                 
                    
                </ul>
                <div class="customService">
                	<h3>在线客服：</h3>
                    <div class="custom_bg"></div>
                    <div class="qq_chat"></div>
                    <p>在线时间每天10:00~19:00，其它时间请留言</p>
                </div>
                <h3>投诉电话</h3>
               	<div class="teNum clearFix">
                	<span class="tel_bg fl"></span>
                	<p class="fl">021-897834889</p>
                </div> 
               
                
            </div>
        
        </div>
    
    </div>



</div>




<div class="footer">
    <div class="container">
        <p class="copyright"><span></span>青蛙直播-Copyright©2016 沪ICP备14054721号 关于我们版权声明</p>
        <p>青蛙用户服务协议|青蛙客服电话：021-63156389|商务合作邮箱：mt@mutiantech.com</p>
    </div>
</div>


</body>
</html>
