.spriteAllDegre {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../img/allDegree.png);}

.pic_activelevel_1 {width:24px; height:18px; background-position: -1432px -42px}
.pic_activelevel_10 {width:24px; height:18px; background-position: -1406px -42px}
.pic_activelevel_11 {width:24px; height:18px; background-position: -1380px -42px}
.pic_activelevel_12 {width:24px; height:18px; background-position: -1354px -42px}
.pic_activelevel_13 {width:24px; height:18px; background-position: -1328px -42px}
.pic_activelevel_14 {width:24px; height:18px; background-position: -1302px -42px}
.pic_activelevel_15 {width:24px; height:18px; background-position: -1276px -42px}
.pic_activelevel_16 {width:24px; height:18px; background-position: -1250px -42px}
.pic_activelevel_17 {width:24px; height:18px; background-position: -1224px -42px}
.pic_activelevel_18 {width:24px; height:18px; background-position: -1198px -42px}
.pic_activelevel_19 {width:24px; height:18px; background-position: -1172px -42px}
.pic_activelevel_2 {width:24px; height:18px; background-position: -1146px -42px}
.pic_activelevel_20 {width:24px; height:18px; background-position: -1120px -42px}
.pic_activelevel_21 {width:24px; height:18px; background-position: -1094px -42px}
.pic_activelevel_22 {width:24px; height:18px; background-position: -1068px -42px}
.pic_activelevel_23 {width:24px; height:18px; background-position: -1042px -42px}
.pic_activelevel_24 {width:24px; height:18px; background-position: -1016px -42px}
.pic_activelevel_25 {width:24px; height:18px; background-position: -990px -42px}
.pic_activelevel_26 {width:24px; height:18px; background-position: -964px -42px}
.pic_activelevel_27 {width:24px; height:18px; background-position: -938px -42px}
.pic_activelevel_28 {width:24px; height:18px; background-position: -912px -42px}
.pic_activelevel_29 {width:24px; height:18px; background-position: -886px -42px}
.pic_activelevel_3 {width:24px; height:18px; background-position: -860px -42px}
.pic_activelevel_30 {width:24px; height:18px; background-position: -834px -42px}
.pic_activelevel_4 {width:24px; height:18px; background-position: -808px -42px}
.pic_activelevel_5 {width:24px; height:18px; background-position: -782px -42px}
.pic_activelevel_6 {width:24px; height:18px; background-position: -756px -42px}
.pic_activelevel_7 {width:24px; height:18px; background-position: -730px -42px}
.pic_activelevel_8 {width:24px; height:18px; background-position: -704px -42px}
.pic_activelevel_9 {width:24px; height:18px; background-position: -678px -42px}
.pic_consumelevel_1 {width:48px; height:18px; background-position: -2px -22px}
.pic_consumelevel_10 {width:48px; height:18px; background-position: -1402px -2px}
.pic_consumelevel_11 {width:48px; height:18px; background-position: -1352px -2px}
.pic_consumelevel_12 {width:48px; height:18px; background-position: -1302px -2px}
.pic_consumelevel_13 {width:48px; height:18px; background-position: -1252px -2px}
.pic_consumelevel_14 {width:48px; height:18px; background-position: -1202px -2px}
.pic_consumelevel_15 {width:48px; height:18px; background-position: -1152px -2px}
.pic_consumelevel_16 {width:48px; height:18px; background-position: -1102px -2px}
.pic_consumelevel_17 {width:48px; height:18px; background-position: -1052px -2px}
.pic_consumelevel_18 {width:48px; height:18px; background-position: -1002px -2px}
.pic_consumelevel_19 {width:48px; height:18px; background-position: -952px -2px}
.pic_consumelevel_2 {width:48px; height:18px; background-position: -902px -2px}
.pic_consumelevel_20 {width:48px; height:18px; background-position: -852px -2px}
.pic_consumelevel_21 {width:48px; height:18px; background-position: -802px -2px}
.pic_consumelevel_22 {width:48px; height:18px; background-position: -752px -2px}
.pic_consumelevel_23 {width:48px; height:18px; background-position: -702px -2px}
.pic_consumelevel_24 {width:48px; height:18px; background-position: -652px -2px}
.pic_consumelevel_25 {width:48px; height:18px; background-position: -602px -2px}
.pic_consumelevel_26 {width:48px; height:18px; background-position: -552px -2px}
.pic_consumelevel_27 {width:48px; height:18px; background-position: -502px -2px}
.pic_consumelevel_28 {width:48px; height:18px; background-position: -452px -2px}
.pic_consumelevel_29 {width:48px; height:18px; background-position: -402px -2px}
.pic_consumelevel_3 {width:48px; height:18px; background-position: -352px -2px}
.pic_consumelevel_30 {width:48px; height:18px; background-position: -302px -2px}
.pic_consumelevel_4 {width:48px; height:18px; background-position: -252px -2px}
.pic_consumelevel_5 {width:48px; height:18px; background-position: -202px -2px}
.pic_consumelevel_6 {width:48px; height:18px; background-position: -152px -2px}
.pic_consumelevel_7 {width:48px; height:18px; background-position: -102px -2px}
.pic_consumelevel_8 {width:48px; height:18px; background-position: -52px -2px}
.pic_consumelevel_9 {width:48px; height:18px; background-position: -2px -2px}
.pic_liverlevel_1 {width:24px; height:18px; background-position: -652px -42px}
.pic_liverlevel_10 {width:24px; height:18px; background-position: -626px -42px}
.pic_liverlevel_11 {width:24px; height:18px; background-position: -600px -42px}
.pic_liverlevel_12 {width:24px; height:18px; background-position: -574px -42px}
.pic_liverlevel_13 {width:24px; height:18px; background-position: -548px -42px}
.pic_liverlevel_14 {width:24px; height:18px; background-position: -522px -42px}
.pic_liverlevel_15 {width:24px; height:18px; background-position: -496px -42px}
.pic_liverlevel_16 {width:24px; height:18px; background-position: -470px -42px}
.pic_liverlevel_17 {width:24px; height:18px; background-position: -444px -42px}
.pic_liverlevel_18 {width:24px; height:18px; background-position: -418px -42px}
.pic_liverlevel_19 {width:24px; height:18px; background-position: -392px -42px}
.pic_liverlevel_2 {width:24px; height:18px; background-position: -366px -42px}
.pic_liverlevel_20 {width:24px; height:18px; background-position: -340px -42px}
.pic_liverlevel_21 {width:24px; height:18px; background-position: -314px -42px}
.pic_liverlevel_22 {width:24px; height:18px; background-position: -288px -42px}
.pic_liverlevel_23 {width:24px; height:18px; background-position: -262px -42px}
.pic_liverlevel_24 {width:24px; height:18px; background-position: -236px -42px}
.pic_liverlevel_25 {width:24px; height:18px; background-position: -210px -42px}
.pic_liverlevel_26 {width:24px; height:18px; background-position: -184px -42px}
.pic_liverlevel_27 {width:24px; height:18px; background-position: -158px -42px}
.pic_liverlevel_28 {width:24px; height:18px; background-position: -132px -42px}
.pic_liverlevel_29 {width:24px; height:18px; background-position: -106px -42px}
.pic_liverlevel_3 {width:24px; height:18px; background-position: -80px -42px}
.pic_liverlevel_30 {width:24px; height:18px; background-position: -54px -42px}
.pic_liverlevel_4 {width:24px; height:18px; background-position: -28px -42px}
.pic_liverlevel_5 {width:24px; height:18px; background-position: -2px -42px}
.pic_liverlevel_6 {width:24px; height:18px; background-position: -1430px -22px}
.pic_liverlevel_7 {width:24px; height:18px; background-position: -1404px -22px}
.pic_liverlevel_8 {width:24px; height:18px; background-position: -1378px -22px}
.pic_liverlevel_9 {width:24px; height:18px; background-position: -1352px -22px}
.pic_relationlevel_1 {width:24px; height:18px; background-position: -1326px -22px}
.pic_relationlevel_10 {width:24px; height:18px; background-position: -1300px -22px}
.pic_relationlevel_11 {width:24px; height:18px; background-position: -1274px -22px}
.pic_relationlevel_12 {width:24px; height:18px; background-position: -1248px -22px}
.pic_relationlevel_13 {width:24px; height:18px; background-position: -1222px -22px}
.pic_relationlevel_14 {width:24px; height:18px; background-position: -1196px -22px}
.pic_relationlevel_15 {width:24px; height:18px; background-position: -1170px -22px}
.pic_relationlevel_16 {width:24px; height:18px; background-position: -1144px -22px}
.pic_relationlevel_17 {width:24px; height:18px; background-position: -1118px -22px}
.pic_relationlevel_18 {width:24px; height:18px; background-position: -1092px -22px}
.pic_relationlevel_19 {width:24px; height:18px; background-position: -1066px -22px}
.pic_relationlevel_2 {width:24px; height:18px; background-position: -1040px -22px}
.pic_relationlevel_20 {width:24px; height:18px; background-position: -1014px -22px}
.pic_relationlevel_21 {width:24px; height:18px; background-position: -988px -22px}
.pic_relationlevel_22 {width:24px; height:18px; background-position: -962px -22px}
.pic_relationlevel_23 {width:24px; height:18px; background-position: -936px -22px}
.pic_relationlevel_24 {width:24px; height:18px; background-position: -910px -22px}
.pic_relationlevel_25 {width:24px; height:18px; background-position: -884px -22px}
.pic_relationlevel_26 {width:24px; height:18px; background-position: -858px -22px}
.pic_relationlevel_27 {width:24px; height:18px; background-position: -832px -22px}
.pic_relationlevel_28 {width:24px; height:18px; background-position: -806px -22px}
.pic_relationlevel_29 {width:24px; height:18px; background-position: -780px -22px}
.pic_relationlevel_3 {width:24px; height:18px; background-position: -754px -22px}
.pic_relationlevel_30 {width:24px; height:18px; background-position: -728px -22px}
.pic_relationlevel_31 {width:24px; height:18px; background-position: -702px -22px}
.pic_relationlevel_32 {width:24px; height:18px; background-position: -676px -22px}
.pic_relationlevel_33 {width:24px; height:18px; background-position: -650px -22px}
.pic_relationlevel_34 {width:24px; height:18px; background-position: -624px -22px}
.pic_relationlevel_35 {width:24px; height:18px; background-position: -598px -22px}
.pic_relationlevel_36 {width:24px; height:18px; background-position: -572px -22px}
.pic_relationlevel_37 {width:24px; height:18px; background-position: -546px -22px}
.pic_relationlevel_38 {width:24px; height:18px; background-position: -520px -22px}
.pic_relationlevel_39 {width:24px; height:18px; background-position: -494px -22px}
.pic_relationlevel_4 {width:24px; height:18px; background-position: -468px -22px}
.pic_relationlevel_40 {width:24px; height:18px; background-position: -442px -22px}
.pic_relationlevel_41 {width:24px; height:18px; background-position: -416px -22px}
.pic_relationlevel_42 {width:24px; height:18px; background-position: -390px -22px}
.pic_relationlevel_43 {width:24px; height:18px; background-position: -364px -22px}
.pic_relationlevel_44 {width:24px; height:18px; background-position: -338px -22px}
.pic_relationlevel_45 {width:24px; height:18px; background-position: -312px -22px}
.pic_relationlevel_46 {width:24px; height:18px; background-position: -286px -22px}
.pic_relationlevel_47 {width:24px; height:18px; background-position: -260px -22px}
.pic_relationlevel_48 {width:24px; height:18px; background-position: -234px -22px}
.pic_relationlevel_49 {width:24px; height:18px; background-position: -208px -22px}
.pic_relationlevel_5 {width:24px; height:18px; background-position: -182px -22px}
.pic_relationlevel_50 {width:24px; height:18px; background-position: -156px -22px}
.pic_relationlevel_6 {width:24px; height:18px; background-position: -130px -22px}
.pic_relationlevel_7 {width:24px; height:18px; background-position: -104px -22px}
.pic_relationlevel_8 {width:24px; height:18px; background-position: -78px -22px}
.pic_relationlevel_9 {width:24px; height:18px; background-position: -52px -22px}
