/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:d2c7d1ac2ca5eb278dbc620d2447ade6:b7af66834006f21ec068a3ad935e9b4c:a2210ee75a9372cfdd87988703c41b21$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(biankuang_large.png);}

.biankuang_black_l {width:306px; height:446px; background-position: -1542px -2px}
.biankuang_blue_l {width:306px; height:446px; background-position: -1234px -2px}
.biankuang_orange_l {width:306px; height:446px; background-position: -926px -2px}
.biankuang_size_l {width:306px; height:446px; background-position: -618px -2px}
.biankuang_white_l {width:306px; height:446px; background-position: -310px -2px}
.biankuang_yellow_l {width:306px; height:446px; background-position: -2px -2px}
