/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:7b288909196238f88d441874656f3c8e:119b52e73fed619d4797114a2b138a9d:f1ca9f615efd41ee6d583ace452461d3$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icons.png);}

.activelevel-pic_activelevel_1 {width:24px; height:18px; background-position: -1284px -102px}
.activelevel-pic_activelevel_10 {width:24px; height:18px; background-position: -1258px -102px}
.activelevel-pic_activelevel_11 {width:24px; height:18px; background-position: -1232px -102px}
.activelevel-pic_activelevel_12 {width:24px; height:18px; background-position: -1206px -102px}
.activelevel-pic_activelevel_13 {width:24px; height:18px; background-position: -1180px -102px}
.activelevel-pic_activelevel_14 {width:24px; height:18px; background-position: -1600px -82px}
.activelevel-pic_activelevel_15 {width:24px; height:18px; background-position: -1574px -82px}
.activelevel-pic_activelevel_16 {width:24px; height:18px; background-position: -1548px -82px}
.activelevel-pic_activelevel_17 {width:24px; height:18px; background-position: -1522px -82px}
.activelevel-pic_activelevel_18 {width:24px; height:18px; background-position: -1496px -82px}
.activelevel-pic_activelevel_19 {width:24px; height:18px; background-position: -1470px -82px}
.activelevel-pic_activelevel_2 {width:24px; height:18px; background-position: -1444px -82px}
.activelevel-pic_activelevel_20 {width:24px; height:18px; background-position: -1418px -82px}
.activelevel-pic_activelevel_21 {width:24px; height:18px; background-position: -1392px -82px}
.activelevel-pic_activelevel_22 {width:24px; height:18px; background-position: -1366px -82px}
.activelevel-pic_activelevel_23 {width:24px; height:18px; background-position: -1340px -82px}
.activelevel-pic_activelevel_24 {width:24px; height:18px; background-position: -1314px -82px}
.activelevel-pic_activelevel_25 {width:24px; height:18px; background-position: -1288px -82px}
.activelevel-pic_activelevel_26 {width:24px; height:18px; background-position: -1262px -82px}
.activelevel-pic_activelevel_27 {width:24px; height:18px; background-position: -1236px -82px}
.activelevel-pic_activelevel_28 {width:24px; height:18px; background-position: -1210px -82px}
.activelevel-pic_activelevel_29 {width:24px; height:18px; background-position: -1184px -82px}
.activelevel-pic_activelevel_3 {width:24px; height:18px; background-position: -1158px -82px}
.activelevel-pic_activelevel_30 {width:24px; height:18px; background-position: -1600px -62px}
.activelevel-pic_activelevel_4 {width:24px; height:18px; background-position: -1574px -62px}
.activelevel-pic_activelevel_5 {width:24px; height:18px; background-position: -1548px -62px}
.activelevel-pic_activelevel_6 {width:24px; height:18px; background-position: -1584px -42px}
.activelevel-pic_activelevel_7 {width:24px; height:18px; background-position: -1522px -62px}
.activelevel-pic_activelevel_8 {width:24px; height:18px; background-position: -1558px -42px}
.activelevel-pic_activelevel_9 {width:24px; height:18px; background-position: -1496px -62px}
.consumelevel-pic_consumelevel_0 {width:60px; height:18px; background-position: -374px -88px}
.consumelevel-pic_consumelevel_1 {width:60px; height:18px; background-position: -1464px -2px}
.consumelevel-pic_consumelevel_10 {width:60px; height:18px; background-position: -1402px -22px}
.consumelevel-pic_consumelevel_11 {width:60px; height:18px; background-position: -1340px -42px}
.consumelevel-pic_consumelevel_12 {width:60px; height:18px; background-position: -1278px -62px}
.consumelevel-pic_consumelevel_13 {width:60px; height:18px; background-position: -312px -108px}
.consumelevel-pic_consumelevel_14 {width:60px; height:18px; background-position: -312px -88px}
.consumelevel-pic_consumelevel_15 {width:60px; height:18px; background-position: -1402px -2px}
.consumelevel-pic_consumelevel_16 {width:60px; height:18px; background-position: -1340px -22px}
.consumelevel-pic_consumelevel_17 {width:60px; height:18px; background-position: -1278px -42px}
.consumelevel-pic_consumelevel_18 {width:60px; height:18px; background-position: -1216px -62px}
.consumelevel-pic_consumelevel_19 {width:60px; height:18px; background-position: -250px -108px}
.consumelevel-pic_consumelevel_2 {width:60px; height:18px; background-position: -250px -88px}
.consumelevel-pic_consumelevel_20 {width:60px; height:18px; background-position: -1340px -2px}
.consumelevel-pic_consumelevel_21 {width:60px; height:18px; background-position: -1278px -22px}
.consumelevel-pic_consumelevel_22 {width:60px; height:18px; background-position: -1216px -42px}
.consumelevel-pic_consumelevel_23 {width:60px; height:18px; background-position: -1154px -62px}
.consumelevel-pic_consumelevel_24 {width:60px; height:18px; background-position: -188px -108px}
.consumelevel-pic_consumelevel_25 {width:60px; height:18px; background-position: -188px -88px}
.consumelevel-pic_consumelevel_26 {width:60px; height:18px; background-position: -1278px -2px}
.consumelevel-pic_consumelevel_27 {width:60px; height:18px; background-position: -1216px -22px}
.consumelevel-pic_consumelevel_28 {width:60px; height:18px; background-position: -1154px -42px}
.consumelevel-pic_consumelevel_29 {width:60px; height:18px; background-position: -126px -108px}
.consumelevel-pic_consumelevel_3 {width:60px; height:18px; background-position: -126px -88px}
.consumelevel-pic_consumelevel_30 {width:60px; height:18px; background-position: -1216px -2px}
.consumelevel-pic_consumelevel_4 {width:60px; height:18px; background-position: -1154px -22px}
.consumelevel-pic_consumelevel_5 {width:60px; height:18px; background-position: -64px -108px}
.consumelevel-pic_consumelevel_6 {width:60px; height:18px; background-position: -64px -88px}
.consumelevel-pic_consumelevel_7 {width:60px; height:18px; background-position: -1154px -2px}
.consumelevel-pic_consumelevel_8 {width:60px; height:18px; background-position: -2px -108px}
.consumelevel-pic_consumelevel_9 {width:60px; height:18px; background-position: -2px -88px}
.guanli-pic_guanli_1 {width:18px; height:18px; background-position: -1590px -102px}
.guanli-pic_guanli_2 {width:18px; height:18px; background-position: -1570px -102px}
.guardlevel-pic_guardlevel_s_1 {width:18px; height:18px; background-position: -1550px -102px}
.guardlevel-pic_guardlevel_s_10 {width:18px; height:18px; background-position: -1530px -102px}
.guardlevel-pic_guardlevel_s_11 {width:18px; height:18px; background-position: -1510px -102px}
.guardlevel-pic_guardlevel_s_12 {width:18px; height:18px; background-position: -1490px -102px}
.guardlevel-pic_guardlevel_s_13 {width:18px; height:18px; background-position: -1470px -102px}
.guardlevel-pic_guardlevel_s_14 {width:18px; height:18px; background-position: -1450px -102px}
.guardlevel-pic_guardlevel_s_15 {width:18px; height:18px; background-position: -1430px -102px}
.guardlevel-pic_guardlevel_s_2 {width:18px; height:18px; background-position: -1410px -102px}
.guardlevel-pic_guardlevel_s_3 {width:18px; height:18px; background-position: -1390px -102px}
.guardlevel-pic_guardlevel_s_4 {width:18px; height:18px; background-position: -1370px -102px}
.guardlevel-pic_guardlevel_s_5 {width:18px; height:18px; background-position: -1350px -102px}
.guardlevel-pic_guardlevel_s_6 {width:18px; height:18px; background-position: -1330px -102px}
.guardlevel-pic_guardlevel_s_7 {width:18px; height:18px; background-position: -1310px -102px}
.guardlevel-pic_guardlevel_s_8 {width:18px; height:18px; background-position: -1610px -42px}
.guardlevel-pic_guardlevel_s_9 {width:18px; height:18px; background-position: -1138px -88px}
.liverlevel-pic_liverlevel_1 {width:24px; height:18px; background-position: -1594px -22px}
.liverlevel-pic_liverlevel_10 {width:24px; height:18px; background-position: -1532px -42px}
.liverlevel-pic_liverlevel_11 {width:24px; height:18px; background-position: -1470px -62px}
.liverlevel-pic_liverlevel_12 {width:24px; height:18px; background-position: -1568px -22px}
.liverlevel-pic_liverlevel_13 {width:24px; height:18px; background-position: -1506px -42px}
.liverlevel-pic_liverlevel_14 {width:24px; height:18px; background-position: -1444px -62px}
.liverlevel-pic_liverlevel_15 {width:24px; height:18px; background-position: -1542px -22px}
.liverlevel-pic_liverlevel_16 {width:24px; height:18px; background-position: -1480px -42px}
.liverlevel-pic_liverlevel_17 {width:24px; height:18px; background-position: -1418px -62px}
.liverlevel-pic_liverlevel_18 {width:24px; height:18px; background-position: -1604px -2px}
.liverlevel-pic_liverlevel_19 {width:24px; height:18px; background-position: -1578px -2px}
.liverlevel-pic_liverlevel_2 {width:24px; height:18px; background-position: -1516px -22px}
.liverlevel-pic_liverlevel_20 {width:24px; height:18px; background-position: -1454px -42px}
.liverlevel-pic_liverlevel_21 {width:24px; height:18px; background-position: -1392px -62px}
.liverlevel-pic_liverlevel_22 {width:24px; height:18px; background-position: -1552px -2px}
.liverlevel-pic_liverlevel_23 {width:24px; height:18px; background-position: -1490px -22px}
.liverlevel-pic_liverlevel_24 {width:24px; height:18px; background-position: -1428px -42px}
.liverlevel-pic_liverlevel_25 {width:24px; height:18px; background-position: -1366px -62px}
.liverlevel-pic_liverlevel_26 {width:24px; height:18px; background-position: -1526px -2px}
.liverlevel-pic_liverlevel_27 {width:24px; height:18px; background-position: -1464px -22px}
.liverlevel-pic_liverlevel_28 {width:24px; height:18px; background-position: -1402px -42px}
.liverlevel-pic_liverlevel_29 {width:24px; height:18px; background-position: -1340px -62px}
.liverlevel-pic_liverlevel_3 {width:24px; height:18px; background-position: -1154px -108px}
.liverlevel-pic_liverlevel_30 {width:24px; height:18px; background-position: -1128px -108px}
.liverlevel-pic_liverlevel_4 {width:24px; height:18px; background-position: -1112px -88px}
.liverlevel-pic_liverlevel_5 {width:24px; height:18px; background-position: -1102px -108px}
.liverlevel-pic_liverlevel_6 {width:24px; height:18px; background-position: -1086px -88px}
.liverlevel-pic_liverlevel_7 {width:24px; height:18px; background-position: -1076px -108px}
.liverlevel-pic_liverlevel_8 {width:24px; height:18px; background-position: -1060px -88px}
.liverlevel-pic_liverlevel_9 {width:24px; height:18px; background-position: -1050px -108px}
.pic_guardlevel_L-pic_guardlevel_L_1 {width:70px; height:84px; background-position: -1082px -2px}
.pic_guardlevel_L-pic_guardlevel_L_10 {width:70px; height:84px; background-position: -1010px -2px}
.pic_guardlevel_L-pic_guardlevel_L_11 {width:70px; height:84px; background-position: -938px -2px}
.pic_guardlevel_L-pic_guardlevel_L_12 {width:70px; height:84px; background-position: -866px -2px}
.pic_guardlevel_L-pic_guardlevel_L_13 {width:70px; height:84px; background-position: -794px -2px}
.pic_guardlevel_L-pic_guardlevel_L_14 {width:70px; height:84px; background-position: -722px -2px}
.pic_guardlevel_L-pic_guardlevel_L_15 {width:70px; height:84px; background-position: -650px -2px}
.pic_guardlevel_L-pic_guardlevel_L_2 {width:70px; height:84px; background-position: -578px -2px}
.pic_guardlevel_L-pic_guardlevel_L_3 {width:70px; height:84px; background-position: -506px -2px}
.pic_guardlevel_L-pic_guardlevel_L_4 {width:70px; height:84px; background-position: -434px -2px}
.pic_guardlevel_L-pic_guardlevel_L_5 {width:70px; height:84px; background-position: -362px -2px}
.pic_guardlevel_L-pic_guardlevel_L_6 {width:70px; height:84px; background-position: -290px -2px}
.pic_guardlevel_L-pic_guardlevel_L_7 {width:70px; height:84px; background-position: -218px -2px}
.pic_guardlevel_L-pic_guardlevel_L_8 {width:70px; height:84px; background-position: -146px -2px}
.pic_guardlevel_L-pic_guardlevel_L_9 {width:70px; height:84px; background-position: -74px -2px}
.pic_guardlevel_L-pic_guardlevel_kong {width:70px; height:84px; background-position: -2px -2px}
.relationlevel-pic_relationlevel_1 {width:24px; height:18px; background-position: -1034px -88px}
.relationlevel-pic_relationlevel_10 {width:24px; height:18px; background-position: -1024px -108px}
.relationlevel-pic_relationlevel_11 {width:24px; height:18px; background-position: -1008px -88px}
.relationlevel-pic_relationlevel_12 {width:24px; height:18px; background-position: -998px -108px}
.relationlevel-pic_relationlevel_13 {width:24px; height:18px; background-position: -982px -88px}
.relationlevel-pic_relationlevel_14 {width:24px; height:18px; background-position: -972px -108px}
.relationlevel-pic_relationlevel_15 {width:24px; height:18px; background-position: -956px -88px}
.relationlevel-pic_relationlevel_16 {width:24px; height:18px; background-position: -946px -108px}
.relationlevel-pic_relationlevel_17 {width:24px; height:18px; background-position: -930px -88px}
.relationlevel-pic_relationlevel_18 {width:24px; height:18px; background-position: -920px -108px}
.relationlevel-pic_relationlevel_19 {width:24px; height:18px; background-position: -904px -88px}
.relationlevel-pic_relationlevel_2 {width:24px; height:18px; background-position: -894px -108px}
.relationlevel-pic_relationlevel_20 {width:24px; height:18px; background-position: -878px -88px}
.relationlevel-pic_relationlevel_21 {width:24px; height:18px; background-position: -868px -108px}
.relationlevel-pic_relationlevel_22 {width:24px; height:18px; background-position: -852px -88px}
.relationlevel-pic_relationlevel_23 {width:24px; height:18px; background-position: -842px -108px}
.relationlevel-pic_relationlevel_24 {width:24px; height:18px; background-position: -826px -88px}
.relationlevel-pic_relationlevel_25 {width:24px; height:18px; background-position: -816px -108px}
.relationlevel-pic_relationlevel_26 {width:24px; height:18px; background-position: -800px -88px}
.relationlevel-pic_relationlevel_27 {width:24px; height:18px; background-position: -790px -108px}
.relationlevel-pic_relationlevel_28 {width:24px; height:18px; background-position: -774px -88px}
.relationlevel-pic_relationlevel_29 {width:24px; height:18px; background-position: -764px -108px}
.relationlevel-pic_relationlevel_3 {width:24px; height:18px; background-position: -748px -88px}
.relationlevel-pic_relationlevel_30 {width:24px; height:18px; background-position: -738px -108px}
.relationlevel-pic_relationlevel_31 {width:24px; height:18px; background-position: -722px -88px}
.relationlevel-pic_relationlevel_32 {width:24px; height:18px; background-position: -712px -108px}
.relationlevel-pic_relationlevel_33 {width:24px; height:18px; background-position: -696px -88px}
.relationlevel-pic_relationlevel_34 {width:24px; height:18px; background-position: -686px -108px}
.relationlevel-pic_relationlevel_35 {width:24px; height:18px; background-position: -670px -88px}
.relationlevel-pic_relationlevel_36 {width:24px; height:18px; background-position: -660px -108px}
.relationlevel-pic_relationlevel_37 {width:24px; height:18px; background-position: -644px -88px}
.relationlevel-pic_relationlevel_38 {width:24px; height:18px; background-position: -634px -108px}
.relationlevel-pic_relationlevel_39 {width:24px; height:18px; background-position: -618px -88px}
.relationlevel-pic_relationlevel_4 {width:24px; height:18px; background-position: -608px -108px}
.relationlevel-pic_relationlevel_40 {width:24px; height:18px; background-position: -592px -88px}
.relationlevel-pic_relationlevel_41 {width:24px; height:18px; background-position: -582px -108px}
.relationlevel-pic_relationlevel_42 {width:24px; height:18px; background-position: -566px -88px}
.relationlevel-pic_relationlevel_43 {width:24px; height:18px; background-position: -556px -108px}
.relationlevel-pic_relationlevel_44 {width:24px; height:18px; background-position: -540px -88px}
.relationlevel-pic_relationlevel_45 {width:24px; height:18px; background-position: -530px -108px}
.relationlevel-pic_relationlevel_46 {width:24px; height:18px; background-position: -514px -88px}
.relationlevel-pic_relationlevel_47 {width:24px; height:18px; background-position: -504px -108px}
.relationlevel-pic_relationlevel_48 {width:24px; height:18px; background-position: -488px -88px}
.relationlevel-pic_relationlevel_49 {width:24px; height:18px; background-position: -478px -108px}
.relationlevel-pic_relationlevel_5 {width:24px; height:18px; background-position: -462px -88px}
.relationlevel-pic_relationlevel_50 {width:24px; height:18px; background-position: -452px -108px}
.relationlevel-pic_relationlevel_6 {width:24px; height:18px; background-position: -436px -88px}
.relationlevel-pic_relationlevel_7 {width:24px; height:18px; background-position: -426px -108px}
.relationlevel-pic_relationlevel_8 {width:24px; height:18px; background-position: -400px -108px}
.relationlevel-pic_relationlevel_9 {width:24px; height:18px; background-position: -374px -108px}
